{% extends 'layout.html' %}

{% block conteudo %}

<h1 id="topicos">Tópicos</h1>

<ul>
  <li data-marker="*"><a href="">AJAX</a></li>
  <li data-marker="*"><a href="">Alocação de Memória Dinâmica</a></li>
  <li data-marker="*"><a href="">Argumentos de Linha de Comando</a></li>
  <li data-marker="*"><a href="">Árvores de Prefixos</a></li>

  <li data-marker="*"><a href="">CSS</a></li>

  <li data-marker="*"><a href="">DOM (Modelo de Objeto de Documento)</a></li>
  
  <li data-marker="*"><a href="">Estruturas Condicionais</a></li>
  <li data-marker="*"><a href="">Estruturas de Dados</a></li>
  <li data-marker="*"><a href="">Estruturas de Repetição</a></li>

  <li data-marker="*"><a href="">Flask</a></li>
  <li data-marker="*"><a href="">Funções</a></li>

  <li data-marker="*"><a href="">HTML</a></li>

  <li data-marker="*"><a href="">JavaScript</a></li>

  <li data-marker="*"><a href="">Linha de Comando</a></li>
  <li data-marker="*"><a href="">Listas Encadeadas</a></li>

  <li data-marker="*"><a href="">Operadores</a></li>
  <li data-marker="*"><a href="">Ordenação por Flutuação</a></li>
  <li data-marker="*"><a href="">Ordenação por Inserção</a></li>
  <li data-marker="*"><a href="">Ordenação por Mistura</a></li>
  <li data-marker="*"><a href="">Ordenação por Seleção</a></li>
  
  <li data-marker="*"><a href="">Pesquisa Binária</a></li>
  <li data-marker="*"><a href="">Pesquisa Linear</a></li>
  <li data-marker="*"><a href="">Pilha de Chamadas</a></li>
  <li data-marker="*"><a href="">Ponteiros para Arquivos</a></li>
  <li data-marker="*"><a href="">Ponteiros</a></li>
  <li data-marker="*"><a href="">Protocolo HTTP</a></li>
  <li data-marker="*"><a href="">Protocolo IP</a></li>
  <li data-marker="*"><a href="">Protocolo TCP</a></li>
  <li data-marker="*"><a href="">Python</a></li>

  <li data-marker="*"><a href="">Recursão</a></li>
  <li data-marker="*"><a href="">Resumo da Internet</a></li>

  <li data-marker="*"><a href="">Sistema Hexadecimal</a></li>
  
  <li data-marker="*"><a href="">SQL</a></li>
  
  <li data-marker="*"><a href="">Tabelas de Dispersão</a></li>
  <li data-marker="*"><a href="">Tipos de Dados</a></li>
  <li data-marker="*"><a href="">Tipos de Dados Personalizados</a></li>
  
  <li data-marker="*"><a href="">Variáveis e Escopo</a></li>
  <li data-marker="*"><a href="">Vetores</a></li>
</ul>

{% endblock %}
