{% extends 'layout.html' %} {% block conteudo %}

<h1 id="problem-set-0">Lista de Problemas 0</h1>

<h2 id="what-to-do">O que fazer</h2>

<ol>
  <li>
    Baixe e instale a última versão do
    <a href="https://www.google.com/chrome/">Google Chrome</a>, caso você já não
    o tenha.
  </li>
  <li>
    Implemente seu próprio projeto Scratch usando o Google Chrome, seguindo esta
    <a href="{{ url_for('cs50x.psets.scratch') }}">especificação</a>
  </li>
</ol>

<h2 id="when-to-do-it">Quando fazer</h2>

<p>Até 23:59 de 31 de Dezembro de 2023.</p>

<h2 id="advice">Dica</h2>

<p>
  Aqui estão os <a href="">exemplos do Ramon</a> usados na aula, caso você
  queira revisar! Para ver o código fonte de cada exemplo, clique em
  <strong>Ver interior</strong>.
</p>

{% endblock %}
