{% extends 'layout.html' %} {% block conteudo %}
<h1 id="problem-set-1">Conjunto de Problemas 1</h1>

<div class="alert" data-alert="warning" role="alert">
  <p>
    Colaboração em conjuntos de problemas não é permitida, exceto na medida em que você
    possa pedir ajuda a colegas de classe e outros, desde que essa ajuda não se reduza
    a outra pessoa fazendo seu trabalho por você, de acordo com a política do curso sobre
    <a href="{{url_for('cs50x.honesty')}}">honestidade acadêmica</a>.
  </p>

  <p>
    A equipe realiza auditorias aleatórias de entregas no CS50x. Alunos encontrados em
    violação dessa política serão removidos do curso. Alunos que já concluíram o CS50x, 
    se encontrados em violação, terão seu Certificado CS50 permanentemente revogado.
  </p>
</div>

<h2 id="what-to-do">O que Fazer</h2>

<div class="alert" data-alert="warning" role="alert">
  <p>
    Certifique-se de ter concluído
    <a href="{{url_for('cs50x.labs.lab1')}}">Laboratório 1</a> antes de iniciar este
    conjunto de problemas.
  </p>
</div>

<ol>
  <li>
    Entre no <a href="https://code.cs50.io/">code.cs50.io</a> usando sua conta do GitHub.
  </li>
  <li>
    Execute <code class="language-plaintext highlighter-rouge">update50</code> na
    janela do terminal do seu espaço de código para garantir que seu espaço de código esteja atualizado e,
    quando solicitado, clique em <strong>Reconstruir agora</strong>
  </li>
  <li>Submeta <a href="{{url_for('cs50x.psets.hello')}}">Olá</a></li>
  <li>
    Submeta um dos:
    <ul>
      <li data-marker="*">
        <a href="{{url_for('cs50x.psets.mario_less')}}"
          >esta versão de Mario</a
        >
        se estiver se sentindo menos confortável
      </li>
      <li data-marker="*">
        <a href="{{url_for('cs50x.psets.mario_more')}}"
          >esta versão de Mario</a
        >
        se estiver se sentindo mais confortável
      </li>
    </ul>
  </li>
  <li>
    Submeta um dos:
    <ul>
      <li data-marker="*">
        <a href="{{url_for('cs50x.psets.cash')}}">Dinheiro</a> se estiver se sentindo menos
        confortável
      </li>
      <li data-marker="*">
        <a href="{{url_for('cs50x.psets.credit')}}">Crédito</a> se estiver se sentindo mais
        confortável
      </li>
    </ul>
  </li>
</ol>

<p>
  Se você enviar ambas as versões do Mario, registraremos a pontuação mais alta das duas.
  Se você enviar ambos o Dinheiro e o Crédito, registraremos a mais alta de suas duas pontuações.
</p>

<h2 id="when-to-do-it">Quando Realizar</h2>

<p>
  Até
  <a
    data-local="2023-12-31T23:59:00+00:00"
    href="https://time.cs50.io/20231231T235900Z"
    >31 de dezembro de 2023, às 23h59 (horário de Greenwich)</a
  >.
</p>

<h2 id="advice">Conselhos</h2>

<ul>
  <li data-marker="*">
    Experimente qualquer um dos programas de Ramon da aula via
    <a href="{{url_for('cs50x.weeks.week1')}}">Código-fonte da Semana 1</a>’s.
  </li>
  <li data-marker="*">
    Consulte o guia de estilo CS50 
    <a href="https://cs50.readthedocs.io/style/c/">para C</a> para
    dicas sobre como melhorar o estilo do seu código.
  </li>
  <li data-marker="*">
    Se você vir qualquer erro ao compilar seu código com
    <code class="language-plaintext highlighter-rouge">make</code>, resolva primeiro
    o primeiro erro que você vê, rolando para cima, se necessário. Se você não tiver certeza
    do que isso significa, tente pedir ajuda a
    <code class="language-plaintext highlighter-rouge">help50</code> . Por exemplo, se estiver tentando compilar
    <code class="language-plaintext highlighter-rouge">hello</code>, e
    <div class="language-plaintext highlighter-rouge">
      <div class="highlight">
        <pre class="highlight"><code>make hello
</code></pre>
      </div>
    </div>
    <p>estiver gerando erros, tente executar</p>
    <div class="language-plaintext highlighter-rouge">
      <div class="highlight">
        <pre class="highlight"><code>help50 make hello
</code></pre>
      </div>
    </div>
    <p>em vez disso!</p>
  </li>
</ul>

{% endblock %}