{% extends 'layout.html' %}

{% block conteudo %}


<h1 id="problem-set-2">Lista de Problemas 2</h1>

<p>Para esta lista de problemas, você usará o CS50 IDE, um ambiente de programação hospedado na <i>nuvem</i>.</p>

<h2 id="what-to-do">O que fazer</h2>

<ol>
  <li>Vá para <a href="https://ide.cs50.io">ide.cs50.io</a> e clique em "Sign in with GitHub" (entrar com GitHub) para acessar o seu CS50 IDE.</li>
  <li>Envie <a href="{{ url_for('cs50x.psets.readability') }}">Legibilidade</a></li>
  <li>Envie um dos dois:
    <ul>
      <li data-marker="*"><a href="{{ url_for('cs50x.psets.caesar') }}">César</a>, caso você esteja menos confortável</li>
      <li data-marker="*"><a href="{{ url_for('cs50x.psets.substitution') }}">Substituição</a>, caso você esteja mais confortável</li>
    </ul>
  </li>
</ol>

<p>Se você enviar as soluções dos problemas César e Substituição, nós vamos registrar apenas a pontuação mais alta dos dois.</p>
</p>

<h2 id="when-to-do-it">Quando fazer</h2>

<p>Até 23:59 horas de 31 de Dezembro de 2023</p>

<h2 id="advice">Dica</h2>

<ul>
  <li data-marker="*">Teste alguns dos programas que Ramon mostrou na aula, usando o código fonte da <a href="{{ url_for('cs50x.weeks.week2') }}">Semana 2</a>.</li>

  <li data-marker="*">Caso você encontre algum erro ao compilar seu código usando o comando <code class="highlighter-rouge">make</code>, foque em resolver o primeiro erro da lista de erros que o compilador mostrar. Se você não tiver certeza do que a mensagem de erro significa, use a ferramenta <code class="highlighter-rouge">help50</code> para buscar ajuda. Por exemplo, se você tentar compilar <code class="highlighter-rouge">legibilidade</code>, e
    <div class="highlighter-rouge"><div class="highlight"><pre class="highlight"><code>make legibilidade </code></pre></div>    </div>
    <p>estiver gerando erros, tente executar</p>
    <div class="highlighter-rouge"><div class="highlight"><pre class="highlight"><code>help50 make legibilidade
</code></pre></div>    </div>
    <p>em seu lugar!</p>
  </li>
</ul>

{% endblock %}