{% extends 'layout.html' %} {% block conteudo %}

<h1 id="problem-set-5">Lista de Problemas 5</h1>

<h2 id="what-to-do">O que fazer</h2>

<ol>
  <li>Envie <a href="{{ url_for('cs50x.psets.speller') }}">Corretor</a></li>
</ol>

<h2 id="when-to-do-it">Quando fazer</h2>

<p>Até 23:59 horas de 31 de Dezembro de 2023</p>

<h2 id="advice">Dica</h2>

<ul>
  <li data-marker="*">
    Teste alguns dos programas que Ramon mostrou na aula, usando o código fonte
    da <a href="../../semanas/">Semana 5</a>.
  </li>

  <li data-marker="*">
    Caso você encontre algum erro ao compilar seu código usando o comando
    <code class="highlighter-rouge">make</code>, foque em resolver o primeiro
    erro da lista de erros que o compilador mostrar. Se você não tiver certeza
    do que a mensagem de erro significa, use a ferramenta
    <code class="highlighter-rouge">help50</code> para buscar ajuda. Por
    exemplo, se você tentar compilar
    <code class="highlighter-rouge">corretor</code>, e
    <div class="highlighter-rouge">
      <div class="highlight">
        <pre class="highlight"><code>make corretor </code></pre>
      </div>
    </div>
    <p>estiver gerando erros, tente executar</p>
    <div class="highlighter-rouge">
      <div class="highlight">
        <pre class="highlight"><code>help50 make corretor
</code></pre>
      </div>
    </div>
    <p>em seu lugar!</p>
  </li>
</ul>

{% endblock %}
