{% extends 'layout.html' %} {% block conteudo %}

<h1 id="problem-set-7">Lista de Problemas 7</h1>

<h2 id="what-to-do">O que fazer</h2>

<ol>
  <li>Envie <a href="{{ url_for('cs50x.psets.movies') }}">Filmes</a></li>
  <li>
    Envie
    <a href="{{ url_for('cs50x.psets.fiftyville') }}">Vila Cinquenta</a>
  </li>
</ol>

<h2 id="when-to-do-it">Quando fazer</h2>

<p>Até 23:59 horas de 31 de Dezembro de 2023</p>

<h2 id="advice">Dica</h2>

<ul>
  <li data-marker="*">
    Acesse<a href="https://www.w3schools.com/sql/">w3schools.com/sql</a> para
    uma boa referência da linguagem SQL!
  </li>
</ul>

{% endblock %}
