{% extends 'layout.html' %} {% block conteudo %}

<h1 id="problem-set-9">Problem Set 9</h1>

<div class="alert" data-alert="warning" role="alert">
  <p>
    Collaboration on problem sets is not permitted except to the extent that you
    may ask classmates and others for help so long as that help does not reduce
    to another doing your work for you, per the course’s policy on
    <a href="../../syllabus/#academic-honesty">academic honesty</a>.
  </p>

  <p>
    The staff conducts random audits of submissions to CS50x. Students found to
    be in violation of this policy will be removed from the course. Students who
    have already completed CS50x, if found to be in violation, will have their
    CS50 Certificate permanently revoked.
  </p>
</div>

<h2 id="what-to-do">What to Do</h2>

<div class="alert" data-alert="primary" role="alert">
  <p>
    Did you start CS50x in 2021 or prior? Be sure to
    <a
      href="https://cs50.harvard.edu/x/2023/new/#did-you-start-cs50x-in-2021-or-earlier"
      >follow these instructions</a
    >
    if you haven’t already!
  </p>
</div>

<ol>
  <li>
    Log into <a href="https://code.cs50.io">code.cs50.io</a> using your GitHub
    account
  </li>
  <li>
    Run <code class="language-plaintext highlighter-rouge">update50</code> in
    your codespace’s terminal window to ensure your codespace is up-to-date and,
    when prompted, click <strong>Rebuild now</strong>
  </li>
  <li>Submit <a href="{{ url_for('cs50x.psets.finance') }}">Finance</a></li>
</ol>

<h2 id="when-to-do-it">When to Do It</h2>

<p>By <span data-local="2023-12-31T23:59:00-05:00"></span>.</p>

{% endblock %}
