{% extends 'layout.html' %} {% block conteudo %}
<h1 id="movies">Movies</h1>

<p>Write SQL queries to answer questions about a database of movies.</p>

<h2 id="getting-started">Getting Started</h2>

<p>
  Log into <a href="https://code.cs50.io/">code.cs50.io</a>, click on your
  terminal window, and execute
  <code class="language-plaintext highlighter-rouge">cd</code> by itself. You
  should find that your terminal window’s prompt resembles the below:
</p>

<div class="language-plaintext highlighter-rouge">
  <div class="highlight">
    <pre class="highlight"><code>$
</code></pre>
  </div>
</div>

<p>Next execute</p>

<div class="language-plaintext highlighter-rouge">
  <div class="highlight">
    <pre
      class="highlight"
    ><code>wget https://cdn.cs50.net/2021/fall/psets/7/movies.zip
</code></pre>
  </div>
</div>

<p>
  in order to download a ZIP called
  <code class="language-plaintext highlighter-rouge">movies.zip</code> into your
  codespace.
</p>

<p>Then execute</p>

<div class="language-plaintext highlighter-rouge">
  <div class="highlight">
    <pre class="highlight"><code>unzip movies.zip
</code></pre>
  </div>
</div>

<p>
  to create a folder called
  <code class="language-plaintext highlighter-rouge">movies</code>. You no
  longer need the ZIP file, so you can execute
</p>

<div class="language-plaintext highlighter-rouge">
  <div class="highlight">
    <pre class="highlight"><code>rm movies.zip
</code></pre>
  </div>
</div>

<p>
  and respond with “y” followed by Enter at the prompt to remove the ZIP file
  you downloaded.
</p>

<p>Now type</p>

<div class="language-plaintext highlighter-rouge">
  <div class="highlight">
    <pre class="highlight"><code>cd movies
</code></pre>
  </div>
</div>

<p>
  followed by Enter to move yourself into (i.e., open) that directory. Your
  prompt should now resemble the below.
</p>

<div class="language-plaintext highlighter-rouge">
  <div class="highlight">
    <pre class="highlight"><code>movies/ $
</code></pre>
  </div>
</div>

<p>
  Execute <code class="language-plaintext highlighter-rouge">ls</code> by
  itself, and you should see 13 .sql files, as well as
  <code class="language-plaintext highlighter-rouge">movies.db</code>.
</p>

<p>
  If you run into any trouble, follow these same steps again and see if you can
  determine where you went wrong!
</p>

<h2 id="understanding">Understanding</h2>

<p>
  Provided to you is a file called
  <code class="language-plaintext highlighter-rouge">movies.db</code>, a SQLite
  database that stores data from <a href="https://www.imdb.com/">IMDb</a> about
  movies, the people who directed and starred in them, and their ratings. In a
  terminal window, run
  <code class="language-plaintext highlighter-rouge">sqlite3 movies.db</code> so
  that you can begin executing queries on the database.
</p>

<p>
  First, when
  <code class="language-plaintext highlighter-rouge">sqlite3</code> prompts you
  to provide a query, type
  <code class="language-plaintext highlighter-rouge">.schema</code> and press
  enter. This will output the
  <code class="language-plaintext highlighter-rouge">CREATE TABLE</code>
  statements that were used to generate each of the tables in the database. By
  examining those statements, you can identify the columns present in each
  table.
</p>

<p>
  Notice that the
  <code class="language-plaintext highlighter-rouge">movies</code> table has an
  <code class="language-plaintext highlighter-rouge">id</code> column that
  uniquely identifies each movie, as well as columns for the
  <code class="language-plaintext highlighter-rouge">title</code> of a movie and
  the <code class="language-plaintext highlighter-rouge">year</code> in which
  the movie was released. The
  <code class="language-plaintext highlighter-rouge">people</code> table also
  has an <code class="language-plaintext highlighter-rouge">id</code> column,
  and also has columns for each person’s
  <code class="language-plaintext highlighter-rouge">name</code> and
  <code class="language-plaintext highlighter-rouge">birth</code> year.
</p>

<p>
  Movie ratings, meanwhile, are stored in the
  <code class="language-plaintext highlighter-rouge">ratings</code> table. The
  first column in the table is
  <code class="language-plaintext highlighter-rouge">movie_id</code>: a foreign
  key that references the
  <code class="language-plaintext highlighter-rouge">id</code> of the
  <code class="language-plaintext highlighter-rouge">movies</code> table. The
  rest of the row contains data about the
  <code class="language-plaintext highlighter-rouge">rating</code> for each
  movie and the number of
  <code class="language-plaintext highlighter-rouge">votes</code> the movie has
  received on IMDb.
</p>

<p>
  Finally, the
  <code class="language-plaintext highlighter-rouge">stars</code> and
  <code class="language-plaintext highlighter-rouge">directors</code> tables
  match people to the movies in which they acted or directed. (Only
  <a href="https://www.imdb.com/interfaces/">principal</a> stars and directors
  are included.) Each table has just two columns:
  <code class="language-plaintext highlighter-rouge">movie_id</code> and
  <code class="language-plaintext highlighter-rouge">person_id</code>, which
  reference a specific movie and person, respectively.
</p>

<p>
  The challenge ahead of you is to write SQL queries to answer a variety of
  different questions by selecting data from one or more of these tables.
</p>

<h2 id="specification">Specification</h2>

<p>
  For each of the following problems, you should write a single SQL query that
  outputs the results specified by each problem. Your response must take the
  form of a single SQL query, though you may nest other queries inside of your
  query. You <strong>should not</strong> assume anything about the
  <code class="language-plaintext highlighter-rouge">id</code>s of any
  particular movies or people: your queries should be accurate even if the
  <code class="language-plaintext highlighter-rouge">id</code> of any particular
  movie or person were different. Finally, each query should return only the
  data necessary to answer the question: if the problem only asks you to output
  the names of movies, for example, then your query should not also output each
  movie’s release year.
</p>

<p>
  You’re welcome to check your queries’ results against
  <a href="https://www.imdb.com/">IMDb</a> itself, but realize that ratings on
  the website might differ from those in
  <code class="language-plaintext highlighter-rouge">movies.db</code>, as more
  votes might have been cast since we downloaded the data!
</p>

<ol>
  <li>
    In <code class="language-plaintext highlighter-rouge">1.sql</code>, write a
    SQL query to list the titles of all movies released in 2008.
    <ul>
      <li data-marker="*">
        Your query should output a table with a single column for the title of
        each movie.
      </li>
    </ul>
  </li>
  <li>
    In <code class="language-plaintext highlighter-rouge">2.sql</code>, write a
    SQL query to determine the birth year of Emma Stone.
    <ul>
      <li data-marker="*">
        Your query should output a table with a single column and a single row
        (not including the header) containing Emma Stone’s birth year.
      </li>
      <li data-marker="*">
        You may assume that there is only one person in the database with the
        name Emma Stone.
      </li>
    </ul>
  </li>
  <li>
    In <code class="language-plaintext highlighter-rouge">3.sql</code>, write a
    SQL query to list the titles of all movies with a release date on or after
    2018, in alphabetical order.
    <ul>
      <li data-marker="*">
        Your query should output a table with a single column for the title of
        each movie.
      </li>
      <li data-marker="*">
        Movies released in 2018 should be included, as should movies with
        release dates in the future.
      </li>
    </ul>
  </li>
  <li>
    In <code class="language-plaintext highlighter-rouge">4.sql</code>, write a
    SQL query to determine the number of movies with an IMDb rating of 10.0.
    <ul>
      <li data-marker="*">
        Your query should output a table with a single column and a single row
        (not including the header) containing the number of movies with a 10.0
        rating.
      </li>
    </ul>
  </li>
  <li>
    In <code class="language-plaintext highlighter-rouge">5.sql</code>, write a
    SQL query to list the titles and release years of all Harry Potter movies,
    in chronological order.
    <ul>
      <li data-marker="*">
        Your query should output a table with two columns, one for the title of
        each movie and one for the release year of each movie.
      </li>
      <li data-marker="*">
        You may assume that the title of all Harry Potter movies will begin with
        the words “Harry Potter”, and that if a movie title begins with the
        words “Harry Potter”, it is a Harry Potter movie.
      </li>
    </ul>
  </li>
  <li>
    In <code class="language-plaintext highlighter-rouge">6.sql</code>, write a
    SQL query to determine the average rating of all movies released in 2012.
    <ul>
      <li data-marker="*">
        Your query should output a table with a single column and a single row
        (not including the header) containing the average rating.
      </li>
    </ul>
  </li>
  <li>
    In <code class="language-plaintext highlighter-rouge">7.sql</code>, write a
    SQL query to list all movies released in 2010 and their ratings, in
    descending order by rating. For movies with the same rating, order them
    alphabetically by title.
    <ul>
      <li data-marker="*">
        Your query should output a table with two columns, one for the title of
        each movie and one for the rating of each movie.
      </li>
      <li data-marker="*">
        Movies that do not have ratings should not be included in the result.
      </li>
    </ul>
  </li>
  <li>
    In <code class="language-plaintext highlighter-rouge">8.sql</code>, write a
    SQL query to list the names of all people who starred in Toy Story.
    <ul>
      <li data-marker="*">
        Your query should output a table with a single column for the name of
        each person.
      </li>
      <li data-marker="*">
        You may assume that there is only one movie in the database with the
        title Toy Story.
      </li>
    </ul>
  </li>
  <li>
    In <code class="language-plaintext highlighter-rouge">9.sql</code>, write a
    SQL query to list the names of all people who starred in a movie released in
    2004, ordered by birth year.
    <ul>
      <li data-marker="*">
        Your query should output a table with a single column for the name of
        each person.
      </li>
      <li data-marker="*">
        People with the same birth year may be listed in any order.
      </li>
      <li data-marker="*">
        No need to worry about people who have no birth year listed, so long as
        those who do have a birth year are listed in order.
      </li>
      <li data-marker="*">
        If a person appeared in more than one movie in 2004, they should only
        appear in your results once.
      </li>
    </ul>
  </li>
  <li>
    In <code class="language-plaintext highlighter-rouge">10.sql</code>, write a
    SQL query to list the names of all people who have directed a movie that
    received a rating of at least 9.0.
    <ul>
      <li data-marker="*">
        Your query should output a table with a single column for the name of
        each person.
      </li>
      <li data-marker="*">
        If a person directed more than one movie that received a rating of at
        least 9.0, they should only appear in your results once.
      </li>
    </ul>
  </li>
  <li>
    In <code class="language-plaintext highlighter-rouge">11.sql</code>, write a
    SQL query to list the titles of the five highest rated movies (in order)
    that Chadwick Boseman starred in, starting with the highest rated.
    <ul>
      <li data-marker="*">
        Your query should output a table with a single column for the title of
        each movie.
      </li>
      <li data-marker="*">
        You may assume that there is only one person in the database with the
        name Chadwick Boseman.
      </li>
    </ul>
  </li>
  <li>
    In <code class="language-plaintext highlighter-rouge">12.sql</code>, write a
    SQL query to list the titles of all movies in which both Johnny Depp and
    Helena Bonham Carter starred.
    <ul>
      <li data-marker="*">
        Your query should output a table with a single column for the title of
        each movie.
      </li>
      <li data-marker="*">
        You may assume that there is only one person in the database with the
        name Johnny Depp.
      </li>
      <li data-marker="*">
        You may assume that there is only one person in the database with the
        name Helena Bonham Carter.
      </li>
    </ul>
  </li>
  <li>
    In <code class="language-plaintext highlighter-rouge">13.sql</code>, write a
    SQL query to list the names of all people who starred in a movie in which
    Kevin Bacon also starred.
    <ul>
      <li data-marker="*">
        Your query should output a table with a single column for the name of
        each person.
      </li>
      <li data-marker="*">
        There may be multiple people named Kevin Bacon in the database. Be sure
        to only select the Kevin Bacon born in 1958.
      </li>
      <li data-marker="*">
        Kevin Bacon himself should not be included in the resulting list.
      </li>
    </ul>
  </li>
</ol>

<h2 id="walkthrough">Walkthrough</h2>

<div class="ratio ratio-16x9" data-video="">
  <iframe
    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen=""
    class="border"
    data-video=""
    src="https://www.youtube.com/embed/v5_A3giDlQs?modestbranding=0&amp;rel=0&amp;showinfo=0"
  ></iframe>
</div>

<h2 id="usage">Usage</h2>

<p>To test your queries in VS Code, you can query the database by running</p>

<div class="language-plaintext highlighter-rouge">
  <div class="highlight">
    <pre class="highlight"><code>$ cat filename.sql | sqlite3 movies.db
</code></pre>
  </div>
</div>

<p>
  where
  <code class="language-plaintext highlighter-rouge">filename.sql</code> is the
  file containing your SQL query.
</p>

<p>You can also run</p>

<div class="language-plaintext highlighter-rouge">
  <div class="highlight">
    <pre
      class="highlight"
    ><code>$ cat filename.sql | sqlite3 movies.db &gt; output.txt
</code></pre>
  </div>
</div>

<p>
  to redirect the output of the query to a text file called
  <code class="language-plaintext highlighter-rouge">output.txt</code>. (This
  can be useful for checking how many rows are returned by your query!)
</p>

<h2 id="hints">Hints</h2>

<ul>
  <li data-marker="*">
    See
    <a href="https://www.w3schools.com/sql/sql_ref_keywords.asp"
      >this SQL keywords reference</a
    >
    for some SQL syntax that may be helpful!
  </li>
  <li data-marker="*">
    See <a href="https://www.sqlstyle.guide/">sqlstyle.guide</a> for pointers on
    good style in SQL, especially as your queries get more complex!
  </li>
</ul>

<h2 id="testing">Testing</h2>

<p>
  While <code class="language-plaintext highlighter-rouge">check50</code> is
  available for this problem, you’re encouraged to instead test your code on
  your own for each of the following. You can run
  <code class="language-plaintext highlighter-rouge">sqlite3 movies.db</code> to
  run additional queries on the database to ensure that your result is correct.
</p>

<p>
  If you’re using the
  <code class="language-plaintext highlighter-rouge">movies.db</code> database
  provided in this problem set’s distribution, you should find that
</p>
<ul>
  <li data-marker="*">
    Executing
    <code class="language-plaintext highlighter-rouge">1.sql</code> results in a
    table with 1 column and 9,952 rows.
  </li>
  <li data-marker="*">
    Executing
    <code class="language-plaintext highlighter-rouge">2.sql</code> results in a
    table with 1 column and 1 row.
  </li>
  <li data-marker="*">
    Executing
    <code class="language-plaintext highlighter-rouge">3.sql</code> results in a
    table with 1 column and 69,705 rows.
  </li>
  <li data-marker="*">
    Executing
    <code class="language-plaintext highlighter-rouge">4.sql</code> results in a
    table with 1 column and 1 row.
  </li>
  <li data-marker="*">
    Executing
    <code class="language-plaintext highlighter-rouge">5.sql</code> results in a
    table with 2 columns and 11 rows.
  </li>
  <li data-marker="*">
    Executing
    <code class="language-plaintext highlighter-rouge">6.sql</code> results in a
    table with 1 column and 1 row.
  </li>
  <li data-marker="*">
    Executing
    <code class="language-plaintext highlighter-rouge">7.sql</code> results in a
    table with 2 columns and 7,046 rows.
  </li>
  <li data-marker="*">
    Executing
    <code class="language-plaintext highlighter-rouge">8.sql</code> results in a
    table with 1 column and 4 rows.
  </li>
  <li data-marker="*">
    Executing
    <code class="language-plaintext highlighter-rouge">9.sql</code> results in a
    table with 1 column and 18,730 rows.
  </li>
  <li data-marker="*">
    Executing
    <code class="language-plaintext highlighter-rouge">10.sql</code> results in
    a table with 1 column and 2,236 rows.
  </li>
  <li data-marker="*">
    Executing
    <code class="language-plaintext highlighter-rouge">11.sql</code> results in
    a table with 1 column and 5 rows.
  </li>
  <li data-marker="*">
    Executing
    <code class="language-plaintext highlighter-rouge">12.sql</code> results in
    a table with 1 column and 6 rows.
  </li>
  <li data-marker="*">
    Executing
    <code class="language-plaintext highlighter-rouge">13.sql</code> results in
    a table with 1 column and 185 rows.
  </li>
</ul>

<p>
  Note that row counts do not include header rows that only show column names.
</p>

<p>
  If your query returns a number of rows that is slightly different from the
  expected output, be sure that you’re properly handling duplicates! For queries
  that ask for a list of names, no one person should be listed twice, but two
  different people who have the same name should each be listed.
</p>

<p>
  Execute the below to evaluate the correctness of your code using
  <code class="language-plaintext highlighter-rouge">check50</code>.
</p>

<div class="language-plaintext highlighter-rouge">
  <div class="highlight">
    <pre class="highlight"><code>check50 cs50/problems/2023/x/movies
</code></pre>
  </div>
</div>

<h2 id="how-to-submit">How to Submit</h2>

<p>In your terminal, execute the below to submit your work.</p>

<div class="language-plaintext highlighter-rouge">
  <div class="highlight">
    <pre class="highlight"><code>submit50 cs50/problems/2023/x/movies
</code></pre>
  </div>
</div>

<h2 id="acknowledgements">Acknowledgements</h2>

<p>
  Information courtesy of IMDb (<a href="http://www.imdb.com">imdb.com</a>).
  Used with permission.
</p>

{% endblock %}
