{% extends 'layout.html' %}

{% block conteudo %}

<h1 id="readability">Legibilidade</h1>

<p>Implemente um programa que calcula o nível escolar aproximado necessário para compreender um texto, como mostrado abaixo</p>

<div class="highlighter-rouge"><div class="highlight"><pre class="highlight"><code>$ ./legibilidade
Texto: Parabéns! Hoje é seu dia. Você realizará grandes coisas! Você está pronto para começar!
Nível 3
</code></pre></div></div>

<h2 id="reading-levels">Níveis de Leitura</h2>

<p>De acordo com alguns especialistas, o livro "Charlotte's Web", do autor E.B. White, está entre os níveis escolares 2 e 4, e o livro "The Giver", do autor Lois Lawry, está entre os níveis escolares 8 e 12. Entretanto, o que significa um livro estar no "nível escolar 4"?</p>

<p>Bem, em muitos casos, um especialista lê um livro e decide a qual nível esse livro é mais apropriado. Mas nós poderíamos imaginar também um algoritmo que tenta descobrir qual é o nível de leitura de um texto.</p>

<p>Portanto, que tipo de aspectos são caracteristicas de níveis de leitura mais altos? Bem, palavras longas provavelmente estão relacionadas com níveis de leitura mais altos. De forma semelhante, frases mais longas provavelmente estão relacionadas com níveis de leitura mais altos. Vários "testes de legibilidade" foram desenvolvidos ao longo dos anos, para criar um processo formal para calcular o nível de leitura de um texto.</p>

<p>Um desses testes de legibilidade é o índice Coleman-Liau. O índice Coleman-Liau foi criado para calcular qual nível escolar é necessário para entender um texto. A fórmula é:</p>


<div class="highlighter-rouge"><div class="highlight"><pre class="highlight"><code>index = 0.0588 * L - 0.296 * F - 15.8
</code></pre></div></div>


<p>Neste caso, <code class="highlighter-rouge">L</code> é o número médio de letras a cada 100 palavras no texto, e <code class="highlighter-rouge">F</code> é o número médio de frases a cada 100 palavras no atexto.</p>


<p>Vamos escrever um programa chamado <code class="highlighter-rouge">legibilidade</code> que recebe um texto e determina qual é seu nível de leitura. Por exemplo, se o usuário digitar uma frase do livro "NOME DO LIVRO":</p>







<div class="highlighter-rouge"><div class="highlight"><pre class="highlight"><code>$ ./legibilidade
Texto: TEXTO TEXTO TEXTO TEXTO TEXTO
Nível X
</code></pre></div></div>

<p>O texto inserido pelo usuário possui X letras, Y frases, e Z palavras. X letras a cada Z palavras é igual a uma média de [464.29] letras a cada 100 palavras. E Y frases a cada Z palavras é igual a uma média de [28.57] frases a cada 100 palavras. Quando inserimos esses dados na fórmula Coleman-Liau, e após arredondar para o número inteiro mais próximo, a fórmula gera como resultado o valor 3, portanto, este trecho está no terceiro nível escolar de leitura.</p>

<p>Vamos testar outra passagem:</p>

<div class="highlighter-rouge"><div class="highlight"><pre class="highlight"><code>$ ./legibilidade
Texto: Harry Potter era um menino bastante fora do comum em muitas coisas. Para começar, ele detestava as férias de verão mais do que qualquer outra época do ano. Depois, ele realmente queria fazer seus deveres de casa mas era obrigado a fazê-los escondido, na calada da noite. E, além de tudo, também era bruxo.
Nível 8
</code></pre></div></div>

<p>Este texto possui 235 letras, 4 frases, e 54 palavras. Isso equivale a aproximadamente 435.18 letras a cada 100 palavras, e 7.4 frases a cada 100 palavras. Quando inserimos esses dados na fórmula Coleman/Liau, dá como resultado o oitavo nível escolar de leitura.</p>


<p>A medida que o número de letras e palavras por frase aumenta, o índice Coleman-Liau classifica o texto com um nível de leitura maior. Se fossemos analizar este parágrafo, por exemplo, que possui palavras e frases mais longas do que os dois exemplos anteriores, a fórmula classificaria o texto como estando no décimo primeiro nível escolar de leitura.</p>






<div class="highlighter-rouge"><div class="highlight"><pre class="highlight"><code>$ ./legibilidade
Texto: A medida que o número de letras e palavras por frase aumenta, o índice Coleman-Liau classifica o texto com um nível de leitura maior. Se fossemos analizar este parágrafo, por exemplo, que possui palavras e frases mais longas do que os dois exemplos anteriores, a fórmula classificaria o texto como estando no décimo primeiro nível escolar de leitura.
Nível 11
</code></pre></div></div>

<h2 id="specification">Especificação</h2>

<p>Projete e implemente um programa, chamado <code class="highlighter-rouge">legibilidade</code>, que calcula o índice Coleman-Liau de um texto.</p>


<ul>
  <li data-marker="*">Implemente seu programa em um arquivo chamado <code class="highlighter-rouge">legibilidade.c</code>, em um diretório chamado <code class="highlighter-rouge">~/problemas2/legibilidade</code>.</li>


  <li data-marker="*">Seu programa deve pedir ao usuário informar um texto (usando a função <code class="highlighter-rouge">get_string</code>).</li>
  

  <li data-marker="*">Seu programa deve contar o número de letras, palavras, e frases em um texto. Você pode supor que uma letra é qualquer caractere minúsculo de <code class="highlighter-rouge">a</code> até <code class="highlighter-rouge">z</code ou qualquer caractere maiúsculo de <code class="highlighter-rouge">A</code> até <code class="highlighter-rouge">Z</code>, que qualquer sequência de caracteres separada por espaços equivale a uma palavra, e que qualquer aparição de ponto final, ponto de exclamação, ou ponto de interrogação indica o fim de uma frase.</li>
  

  <li data-marker="*">Seu programa deve imprimir como saída de dados <code class="highlighter-rouge">"Nível X"</code>, onde <code class="highlighter-rouge">X</code> é o nível escolar calculado pela fórmula Coleman-Liau, arredondado para o inteiro mais próximo..</li>
  

  <li data-marker="*">Se o índice calculado for 16 ou maior (equivalente ou maior do que um nível de leitura de um aluno veterano de faculdade), seu programa deve imprimir <code class="highlighter-rouge">"Nível 16+"</code> ao invés de informar o índice exato. Se o índice for menor do que 1, seu programa deve imprimir <code class="highlighter-rouge">"Antes do Nível 1"</code>.</li>
</ul>

<h3 id="getting-user-input">Recebendo Dados do Usuário</h3>

<p>Primeiramente, vamos escrever um pouco de código para receber dados do usuário, e imprimir de volta na tela. Mais especificamente, escrever código em um arquivo chamado <code class="highlighter-rouge">legibilidade.c</code>, de forma que quando o usuário executar o programa, o programa exibirá a mensagem <code class="highlighter-rouge">"Texto: "</code> para que o usuário digite algum texto.</p>


<p>O comportamento do programa deve ser como mostrado abaixo.</p>


<div class="highlighter-rouge"><div class="highlight"><pre class="highlight"><code>$ ./legibilidade
Texto: A dúvida é autora das insônias mais cruéis. Ao passo que, inversamente, uma boa e sólida certeza vale como um barbitúrico irresistível.
A dúvida é autora das insônias mais cruéis. Ao passo que, inversamente, uma boa e sólida certeza vale como um barbitúrico irresistível.
</code></pre></div></div>


<h3 id="letters">Letras</h3>

<p>Agora que você recebeu dados do usuário, vamos começar a analizar essa entrada de dados contando o número de letras que aparecem no texto. Modifique <code class="highlighter-rouge">legibilidade.c</code> para que, ao invés de imprimir o texto em si, ele imprima o número de letras no texto.</p>

<p>O comportamento do programa deve ser como mostrado abaixo.</p>


<div class="highlighter-rouge"><div class="highlight"><pre class="highlight"><code>$ ./legibilidade
Texto: Alice estava começando a se cansar de ficar sentada ao lado da irmã à beira do lago, sem ter nada para fazer: uma ou duas vezes ela tinha espiado no livro que a irmã estava lendo, mas o livro não tinha desenhos, nem diálogos. “E de que serve um livro”, pensou Alice, “sem desenhos ou diálogos?”
220 letra(s)
</code></pre></div></div>


<p>Letras podem ser qualquer caractere alfabético maiúsculo ou minúsculo, mas não deve incluir nenhuma pontuação, dígitos, ou outros símbolos.</p>


<p>Você pode consultar o manual <a href="https://cs50xemportugues.github.io/manual">https://cs50xemportugues.github.io/manual/</a> para encontrar funções que possam te ajudar! Você também pode escrever uma função você mesmo, chamada de <code class="highlighter-rouge">contar_letras</code>, por exemplo, que seja útil e te ajude a manter o código organizado.</p>


<h3>Palavras</h3>


<p>O índice Coleman-Liau se importa não somente com o número de letras, mas também o número de palavras em uma frase. Para o propósito deste problema, nós vamos considerar qualquer sequência de caracteres separada por um espaço como sendo uma palavra (portanto uma palavra contendo hífen, como por exemplo <code class="highlighter-rouge">"guarda-chuva"</code>, deve ser considerado uma palavra, e não duas).</p>

<p>Modifique <code class="highlighter-rouge">legibilidade.c</code> de forma que, além de imprimir o número de letras no texto, também imprima o número de palavras no texto.</p>

<p>Você pode considerar que uma frase não começará ou terminará em espaço e você pode considerar que uma frase não terá vários espaços seguidos.</p>

<p>O comportamento do programa deve ser como mostrado abaixo.</p>



<div class="highlighter-rouge"><div class="highlight"><pre class="highlight"><code>$ ./legibilidade
Texto: Era um dia frio e ensolarado de abril, e os relógios batiam treze horas. Winston Smith, o queixo fincado no peito numa tentativa de fugir ao vento impiedoso, esgueirou-se rápido pelas portas de vidro da Mansão Vitória; não porém com rapidez suficiente para evitar que o acompanhasse uma onda de pó áspero.
248 letra(s)
53 palavra(s)
</code></pre></div></div>

<h3 id="sentences">Sentenças</h3>

<p>A última coisa que compõe a fórmula Coleman-Liau, além do número de letras e palavras, é o número de sentenças. Determinar o número de frases é complicado. Você pode primeiro imaginar que uma sentença é simplesmente uma sequência de caracteres que terminam em um ponto, mas uma sentença, é claro, pode terminar com um ponto de exclamação ou ponto de interrogação. Mas nem todos os pontos significam necessariamente que uma sentença terminou. Considere, por exemplo, a sentença abaixo.</p>


<div class="highlighter-rouge"><div class="highlight"><pre class="highlight"><code>Mr. and Mrs. Dursley, of number four Privet Drive, were proud to say that they were perfectly normal, thank you very much.
</code></pre></div></div>



<p>Isto é uma única sentença, mas existem três pontos! Para este problema, nós vamos pedir que você ignore essa sutileza: você deve considerar qualquer sequência de caracteres que terminam em um <code class="highlighter-rouge">.</code> ou um <code class="highlighter-rouge">!</code> ou um <code class="highlighter-rouge">?</code> como sendo uma sentença (portanto, para a "sentença" acima, você pode considerar como sendo três sentenças). Na prática, detectar os limites de sentenças precisa ser feito de forma mais inteligente, mas nós não vamos nos preocupar com isso agora.</p>

<p>Modifique <code class="highlighter-rouge">legibilidade.c</code> de forma que o programa agora também imprima o número de sentenças no texto.</p>

<p>O comportamento do programa deve ser como abaixo.</p>

<div class="highlighter-rouge"><div class="highlight"><pre class="highlight"><code>$ ./legibilidade
Text: When he was nearly thirteen, my brother Jem got his arm badly broken at the elbow. When it healed, and Jem's fears of never being able to play football were assuaged, he was seldom self-conscious about his injury. His left arm was somewhat shorter than his right; when he stood or walked, the back of his hand was at right angles to his body, his thumb parallel to his thigh.
295 letra(s)
70 palavra(s)
3 sentença(s)
</code></pre></div></div>



<h3 id="putting-it-all-together">Finalizando</h3>

<p>Agora é hora de juntar todas as peças e finalizar a resolução do problema! Lembre-se que o índice Coleman-Liau é calculado usando a fórmula:</p>

<div class="highlighter-rouge"><div class="highlight"><pre class="highlight"><code>indice = 0.0588 * L - 0.296 * S - 15.8
</code></pre></div></div>

<p>onde <code class="highlighter-rouge">L</code> é a média de letras a cada 100 palavras no texto, e <code class="highlighter-rouge">S</code> é a média de sentenças a cada 100 palavras no texto.</p>

<p>Modifique o programa <code class="highlighter-rouge">legibilidade.c</code> de maneira que ao invés de imprimir o número de letras, palavras, e sentenças, o programa imprime o nível escolar indicado pelo índice Coleman-Liau (por exemplo, <code class="highlighter-rouge">"Nível 2"</code> ou <code class="highlighter-rouge">"Nível 8"</code>). Não se esqueça de arredondar o resultado para o número inteiro mais próximo!</p>

<p>Se o índice resultante for 16 ou maior (equivalente ou maior que um nível de leitura de estudante de ensino superior), seu programa deve imprimir <code class="highlighter-rouge">"Nível 16+"</code> ao invés do número do índice exato. Se o número do índice for menor do que 1, se programa deve imprimir <code class="highlighter-rouge">"Antes do Nível 1"</code>.</p>



<details>
    <summary>Dicas/summary>
    <ul>
  <li data-marker="*">
    <p>Lembre-se que a biblioteca <code class="highlighter-rouge">math.h</code> declara uma função chamada <code class="highlighter-rouge">round</code> que pode ser útil neste problema.</p>
  </li>
  <li data-marker="*">
    <p>Lembre-se que quando estiver dividindo valores do tipo <code class="highlighter-rouge">int</code> na linguagem C, o resultado também será um <code class="highlighter-rouge">int</code>, e que qualquer resto de divisão (ou seja, os dígitos depois do ponto decimal) é descartado. Em outras palavras, o resultado será "truncado". Você deve converter um ou mais valores para o tipo de dado <code class="highlighter-rouge">float</code> antes de fazer divisão quando estiver calculando <code class="highlighter-rouge">L</code> e <code class="highlighter-rouge">S</code>!</p>
  </li>
</ul>
</details>

<h2 id="walkthrough">Passo a passo</h2>

<div class="border embed-responsive embed-responsive-16by9" data-video="">
    <iframe allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" class="embed-responsive-item" src="https://www.youtube.com/embed/nif3h2ggrOU?modestbranding=1&amp;rel=0&amp;showinfo=0"></iframe>
</div>

<div class="alert" data-alert="warning" role="alert">
  <p>Perceba que ainda que o passo a passo ilustre que as palavras possam ser separadas por mais de um espaço, você pode considerar, seguindo as especificações acima, que nenhuma sentença terá mais do que um espaço em sequência.</p>
</div>

<h2 id="how-to-test-your-code">Como Testar Seu Código</h2>

<p>Tente executar seu programa com os seguintes textos.</p>

<ul>
  <li data-marker="*"><code class="highlighter-rouge">One fish. Two fish. Red fish. Blue fish.</code> (Antes do Nível 1)</li>
  <li data-marker="*"><code class="highlighter-rouge">Would you like them here or there? I would not like them here or there. I would not like them anywhere.</code> (Nível 2)</li>
  <li data-marker="*"><code class="highlighter-rouge">Congratulations! Today is your day. You're off to Great Places! You're off and away!</code> (Nível 3)</li>
  <li data-marker="*"><code class="highlighter-rouge">Harry Potter was a highly unusual boy in many ways. For one thing, he hated the summer holidays more than any other time of year. For another, he really wanted to do his homework, but was forced to do it in secret, in the dead of the night. And he also happened to be a wizard.</code> (Nível 5)</li>
  <li data-marker="*"><code class="highlighter-rouge">In my younger and more vulnerable years my father gave me some advice that I've been turning over in my mind ever since.</code> (Nível 7)</li>
  <li data-marker="*"><code class="highlighter-rouge">Alice was beginning to get very tired of sitting by her sister on the bank, and of having nothing to do: once or twice she had peeped into the book her sister was reading, but it had no pictures or conversations in it, "and what is the use of a book," thought Alice "without pictures or conversation?"</code> (Nível 8)</li>
  <li data-marker="*"><code class="highlighter-rouge">When he was nearly thirteen, my brother Jem got his arm badly broken at the elbow. When it healed, and Jem's fears of never being able to play football were assuaged, he was seldom self-conscious about his injury. His left arm was somewhat shorter than his right; when he stood or walked, the back of his hand was at right angles to his body, his thumb parallel to his thigh.</code> (Nível 8)</li>
  <li data-marker="*"><code class="highlighter-rouge">There are more things in Heaven and Earth, Horatio, than are dreamt of in your philosophy.</code> (Nível 9)</li>
  <li data-marker="*"><code class="highlighter-rouge">It was a bright cold day in April, and the clocks were striking thirteen. Winston Smith, his chin nuzzled into his breast in an effort to escape the vile wind, slipped quickly through the glass doors of Victory Mansions, though not quickly enough to prevent a swirl of gritty dust from entering along with him.</code> (Nível 10)</li>
  <li data-marker="*"><code class="highlighter-rouge">A large class of computational problems involve the determination of properties of graphs, digraphs, integers, arrays of integers, finite families of finite sets, boolean formulas and elements of other countable domains.</code> (Nível 16+)</li>
</ul>

<p>Execute a linha abaixo para avaliar a correção do seu código usando a ferramenta <code class="highlighter-rouge">check50</code>. Não se esqueça de compilar e testar o código você também!</p>


<div class="highlighter-rouge"><div class="highlight"><pre class="highlight"><code>check50 cs50xemportugues/problemas/2023/legibilidade
</code></pre></div></div>

<p>Execute a linha abaixo para avaliar o estilo do seu código usando a ferramenta <code class="highlighter-rouge">style50</code>.</p>


<div class="highlighter-rouge"><div class="highlight"><pre class="highlight"><code>style50 legibilidade.c
</code></pre></div></div>

<h2>Como Adaptar Seu Código Antes de Enviar</h2>

<p>TODO</p>

<h2 id="how-to-submit">Como Enviar</h2>

<p>Execute a linha abaixo, e em seguida informe sua conta GitHub e sua senha quando o terminal pedir. Por medidas de segurança, você verá asteriscos (<code class="highlighter-rouge">*</code>) ao invés dos caracteres reais na sua senha.</p>

<div class="highlighter-rouge"><div class="highlight"><pre class="highlight"><code>submit50 cs50/problems/2023/x/plurality
</code></pre></div></div>   	
               

{% endblock %}