{% extends 'layout.html' %} {% block conteudo %}

<h1 id="homepage">Homepage</h1>

<p>Build a simple homepage using HTML, CSS, and JavaScript.</p>

<h2 id="background">Background</h2>

<p>
  The internet has enabled incredible things: we can use a search engine to
  research anything imaginable, communicate with friends and family members
  around the globe, play games, take courses, and so much more. But it turns out
  that nearly all pages we may visit are built on three core languages, each of
  which serves a slightly different purpose:
</p>

<ol>
  <li>
    HTML, or <em>HyperText Markup Language</em>, which is used to describe the
    content of websites;
  </li>
  <li>
    CSS, <em>Cascading Style Sheets</em>, which is used to describe the
    aesthetics of websites; and
  </li>
  <li>JavaScript, which is used to make websites interactive and dynamic.</li>
</ol>

<p>
  Create a simple homepage that introduces yourself, your favorite hobby or
  extracurricular, or anything else of interest to you.
</p>

<h2 id="getting-started">Getting Started</h2>

<p>
  Log into <a href="https://code.cs50.io/">code.cs50.io</a>, click on your
  terminal window, and execute
  <code class="language-plaintext highlighter-rouge">cd</code> by itself. You
  should find that your terminal window’s prompt resembles the below:
</p>

<div class="language-plaintext highlighter-rouge">
  <div class="highlight">
    <pre class="highlight"><code>$
</code></pre>
  </div>
</div>

<p>Next execute</p>

<div class="language-plaintext highlighter-rouge">
  <div class="highlight">
    <pre
      class="highlight"
    ><code>wget https://cdn.cs50.net/2021/fall/psets/8/homepage.zip
</code></pre>
  </div>
</div>

<p>
  in order to download a ZIP called
  <code class="language-plaintext highlighter-rouge">homepage.zip</code> into
  your codespace.
</p>

<p>Then execute</p>

<div class="language-plaintext highlighter-rouge">
  <div class="highlight">
    <pre class="highlight"><code>unzip homepage.zip
</code></pre>
  </div>
</div>

<p>
  to create a folder called
  <code class="language-plaintext highlighter-rouge">homepage</code>. You no
  longer need the ZIP file, so you can execute
</p>

<div class="language-plaintext highlighter-rouge">
  <div class="highlight">
    <pre class="highlight"><code>rm homepage.zip
</code></pre>
  </div>
</div>

<p>
  and respond with “y” followed by Enter at the prompt to remove the ZIP file
  you downloaded.
</p>

<p>Now type</p>

<div class="language-plaintext highlighter-rouge">
  <div class="highlight">
    <pre class="highlight"><code>cd homepage
</code></pre>
  </div>
</div>

<p>
  followed by Enter to move yourself into (i.e., open) that directory. Your
  prompt should now resemble the below.
</p>

<div class="language-plaintext highlighter-rouge">
  <div class="highlight">
    <pre class="highlight"><code>homepage/ $
</code></pre>
  </div>
</div>

<p>
  Execute <code class="language-plaintext highlighter-rouge">ls</code> by
  itself, and you should see a few files:
</p>

<div class="language-plaintext highlighter-rouge">
  <div class="highlight">
    <pre class="highlight"><code>index.html  styles.css
</code></pre>
  </div>
</div>

<p>
  If you run into any trouble, follow these same steps again and see if you can
  determine where you went wrong! You can immediately start a server to view
  your site by running
</p>

<div class="language-plaintext highlighter-rouge">
  <div class="highlight">
    <pre class="highlight"><code>http-server
</code></pre>
  </div>
</div>

<p>
  in the terminal window. Then, command-click (if on Mac) or control-click (if
  on PC) on the first link that appears:
</p>

<div class="language-plaintext highlighter-rouge">
  <div class="highlight">
    <pre class="highlight"><code>http-server running on LINK
</code></pre>
  </div>
</div>

<p>Where LINK is the address of your server.</p>

<h2 id="specification">Specification</h2>

<p>
  Implement in your
  <code class="language-plaintext highlighter-rouge">homepage</code> directory a
  website that must:
</p>

<ul>
  <li data-marker="*">
    Contain at least four different
    <code class="language-plaintext highlighter-rouge">.html</code> pages, at
    least one of which is
    <code class="language-plaintext highlighter-rouge">index.html</code> (the
    main page of your website), and it should be possible to get from any page
    on your website to any other page by following one or more hyperlinks.
  </li>
  <li data-marker="*">
    Use at least ten (10) distinct HTML tags besides
    <code class="language-plaintext highlighter-rouge">&lt;html&gt;</code>,
    <code class="language-plaintext highlighter-rouge">&lt;head&gt;</code>,
    <code class="language-plaintext highlighter-rouge">&lt;body&gt;</code>, and
    <code class="language-plaintext highlighter-rouge">&lt;title&gt;</code>.
    Using some tag (e.g.,
    <code class="language-plaintext highlighter-rouge">&lt;p&gt;</code>)
    multiple times still counts as just one (1) of those ten!
  </li>
  <li data-marker="*">
    <p>
      Integrate one or more features from Bootstrap into your site. Bootstrap is
      a popular library (that comes with lots of CSS classes and more) via which
      you can beautify your site. See
      <a href="https://getbootstrap.com/docs/5.1/getting-started/introduction/"
        >Bootstrap’s documentation</a
      >
      to get started. In particular, you might find some of
      <a href="https://getbootstrap.com/docs/5.1/components/"
        >Bootstrap’s components</a
      >
      of interest. To add Bootstrap to your site, it suffices to include
    </p>

    <div class="language-html highlighter-rouge">
      <div class="highlight">
        <pre
          class="highlight"
        ><code><span class="nt">&lt;link</span> <span class="na">href=</span><span class="s">"https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"</span> <span class="na">rel=</span><span class="s">"stylesheet"</span> <span class="na">integrity=</span><span class="s">"sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"</span> <span class="na">crossorigin=</span><span class="s">"anonymous"</span><span class="nt">&gt;</span>
<span class="nt">&lt;script </span><span class="na">src=</span><span class="s">"https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"</span> <span class="na">integrity=</span><span class="s">"sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"</span> <span class="na">crossorigin=</span><span class="s">"anonymous"</span><span class="nt">&gt;&lt;/script&gt;</span>
</code></pre>
      </div>
    </div>

    <p>
      in your pages’
      <code class="language-plaintext highlighter-rouge">&lt;head&gt;</code>,
      below which you can also include
    </p>

    <div class="language-html highlighter-rouge">
      <div class="highlight">
        <pre
          class="highlight"
        ><code><span class="nt">&lt;link</span> <span class="na">href=</span><span class="s">"styles.css"</span> <span class="na">rel=</span><span class="s">"stylesheet"</span><span class="nt">&gt;</span>
</code></pre>
      </div>
    </div>

    <p>to link your own CSS.</p>
  </li>
  <li data-marker="*">
    Have at least one stylesheet file of your own creation,
    <code class="language-plaintext highlighter-rouge">styles.css</code>, which
    uses at least five (5) different CSS selectors (e.g. tag (<code
      class="language-plaintext highlighter-rouge"
      >example</code
    >), class (<code class="language-plaintext highlighter-rouge">.example</code
    >), or ID (<code class="language-plaintext highlighter-rouge">#example</code
    >)), and within which you use a total of at least five (5) different CSS
    properties, such as
    <code class="language-plaintext highlighter-rouge">font-size</code>, or
    <code class="language-plaintext highlighter-rouge">margin</code>; and
  </li>
  <li data-marker="*">
    Integrate one or more features of JavaScript into your site to make your
    site more interactive. For example, you can use JavaScript to add alerts, to
    have an effect at a recurring interval, or to add interactivity to buttons,
    dropdowns, or forms. Feel free to be creative!
  </li>
  <li data-marker="*">
    Ensure that your site looks nice on browsers both on mobile devices as well
    as laptops and desktops.\
  </li>
</ul>

<h2 id="testing">Testing</h2>

<p>
  If you want to see how your site looks while you work on it, you can run
  <code class="language-plaintext highlighter-rouge">http-server</code>.
  Command- or control-click on the first link presented by http-server, which
  should open your webpage in a new tab. You should then be able to refresh the
  tab containing your webpage to see your latest changes.
</p>

<p>
  Recall also that by opening Developer Tools in Google Chrome, you can
  <em>simulate</em> visiting your page on a mobile device by clicking the
  phone-shaped icon to the left of <strong>Elements</strong> in the developer
  tools window, or, once the Developer Tools tab has already been opened, by
  typing <code class="language-plaintext highlighter-rouge">Ctrl</code>+<code
    class="language-plaintext highlighter-rouge"
    >Shift</code
  >+<code class="language-plaintext highlighter-rouge">M</code> on a PC or
  <code class="language-plaintext highlighter-rouge">Cmd</code>+<code
    class="language-plaintext highlighter-rouge"
    >Shift</code
  >+<code class="language-plaintext highlighter-rouge">M</code> on a Mac, rather
  than needing to visit your site on a mobile device separately!
</p>

<h2 id="assessment">Assessment</h2>

<p>
  No <code class="language-plaintext highlighter-rouge">check50</code> for this
  assignment! Instead, your site’s correctness will be assessed based on whether
  you meet the requirements of the specification as outlined above, and whether
  your HTML is well-formed and valid. To ensure that your pages are, you can use
  this
  <a href="https://validator.w3.org/#validate_by_input"
    >Markup Validation Service</a
  >, copying and pasting your HTML directly into the provided text box. Take
  care to eliminate any warnings or errors suggested by the validator before
  submitting!
</p>

<p>Consider also:</p>

<ul>
  <li data-marker="*">
    whether the aesthetics of your site are such that it is intuitive and
    straightforward for a user to navigate;
  </li>
  <li data-marker="*">
    whether your CSS has been factored out into a separate CSS file(s); and
  </li>
  <li data-marker="*">
    whether you have avoided repetition and redundancy by “cascading” style
    properties from parent tags.
  </li>
</ul>

<p>
  Afraid <code class="language-plaintext highlighter-rouge">style50</code> does
  not support HTML files, and so it is incumbent upon you to indent and align
  your HTML tags cleanly. Know also that you can create an HTML comment with:
</p>

<div class="language-html highlighter-rouge">
  <div class="highlight">
    <pre
      class="highlight"
    ><code><span class="c">&lt;!-- Comment goes here --&gt;</span>
</code></pre>
  </div>
</div>

<p>
  but commenting your HTML code is not as imperative as it is when commenting
  code in, say, C or Python. You can also comment your CSS, in CSS files, with:
</p>

<div class="language-css highlighter-rouge">
  <div class="highlight">
    <pre class="highlight"><code><span class="c">/* Comment goes here */</span>
</code></pre>
  </div>
</div>

<h2 id="hints">Hints</h2>

<p>
  For fairly comprehensive guides on the languages introduced in this problem,
  check out these tutorials:
</p>

<ul>
  <li data-marker="*"><a href="https://www.w3schools.com/html/">HTML</a></li>
  <li data-marker="*"><a href="https://www.w3schools.com/css/">CSS</a></li>
  <li data-marker="*">
    <a href="https://www.w3schools.com/js/">JavaScript</a>
  </li>
</ul>

<h2 id="how-to-submit">How to Submit</h2>

<p>In your terminal, execute the below to submit your work.</p>

<div class="language-plaintext highlighter-rouge">
  <div class="highlight">
    <pre class="highlight"><code>submit50 cs50/problems/2023/x/homepage
</code></pre>
  </div>
</div>

{% endblock %}
