{% extends 'layout.html' %}

{% block conteudo %}


<h1 id="plurality">Pluralidade</h1>

<p>Implemente um programa que execute uma eleição em formato pluralidade, como mostrado abaixo.</p>


<div class="highlighter-rouge"><div class="highlight"><pre class="highlight"><code>$ ./pluralidade Ana Bruno Carlos
Número de eleitores: 4
Voto: Ana
Voto: Bruno
Voto: Carlos
Voto: Ana
Ana
</code></pre></div></div>

<h2 id="background">Entendendo o Problema</h2>

<p>Processos eleitorais existem nas mais variadas formas. No Reino Unido, o <a href="https://pt.wikipedia.org/wiki/Primeiro-ministro_do_Reino_Unido">Primeiro Ministro</a> é oficialmente escolhido pelo monarca, que normalmente escolhe o lider do partido político que ganhou mais cadeiras na Câmara dos Comuns (o parlamento). Os Estados Unidos usam um sistema de <a href="https://pt.wikipedia.org/wiki/Col%C3%A9gio_eleitoral_dos_Estados_Unidos">Colégio Eleitoral</a> com várias etapas onde os cidadãos votam em como cada estado alocar "Delegados" que depois elegem o Presidente.</p>

<p>Talvez o jeito mais simples de se fazer uma eleição seja através de um método chamado de "sistema de pluralidade de votos", que por sinal é o tipo de eleição usada no Brasil. No sistema de pluralidade de votos, cada eleitor tem direito de votar em um candidato. No fim da eleição, o candidato que possuir o maior número de votos é declarado o vencedor da eleição.</p>

<h2 id="getting-started">Começando</h2>

<p>Siga os passos abaixo para baixar o "código de distribuição" (código inicial) no seu CS50 IDE. Acesse o <a href="https://ide.cs50.io/">CS50 IDE</a> e em seguida, na janela do terminal, execute os passos abaixo.</p>


<ul>
  <li data-marker="*">Execute o comando <code class="highlighter-rouge">cd</code> para garantir que você está em <code class="highlighter-rouge">~/</code> (seu diretório inicial).</li>
  <li data-marker="*">Execute o comando <code class="highlighter-rouge">mkdir problemas3</code> para criar um diretório chamado <code class="highlighter-rouge">problemas3</code> no seu diretório inicial.</li>
  <li data-marker="*">Execute o comando <code class="highlighter-rouge">cd problemas3</code> para abrir esse diretório.</li>
  <li data-marker="*">Execute o comando <code class="highlighter-rouge">mkdir pluralidade</code> para criar um diretório chamado <code class="highlighter-rouge">pluralidade</code> dentro do diretório <code class="highlighter-rouge">problemas3</code>.</li>
  <li data-marker="*">Execute o comando <code class="highlighter-rouge">cd pluralidade</code> para abrir esse diretório.</li>
  <li data-marker="*">Execute o comando <code class="highlighter-rouge">wget https://cs50xemportugues.github.io/2020/problemas/3/pluralidade/pluralidade.c</code> para baixar o código de distribuição deste problema.</li>
  <li data-marker="*">Execute o comando <code class="highlighter-rouge">ls</code> para ver o código de distribuição deste problema, em um arquivo chamado <code class="highlighter-rouge">pluralidade.c</code>.</li>
</ul>

<h2 id="understanding">Entendendo o Problema</h2>

<p>Vamos dar uma olhada no arquivo <code class="highlighter-rouge">pluralidade.c</code> para entender o código de distribuição que nós providenciamos para você.</p>

<p>A linha <code class="highlighter-rouge">#define MAX 9</code> significa que <code class="highlighter-rouge">MAX</code> é uma constante (cujo valor é <code class="highlighter-rouge">9</code>) que pode ser usada no programa. Esta constante representa o número máximo de candidatos que a eleição pode ter.</p>

<p>Em seguida, o arquivo define uma estrutura (<code class="highlighter-rouge">struct</code>) chamada <code class="highlighter-rouge">candidato</code>. Cada <code class="highlighter-rouge">candidato</code> possui dois campos: uma <code class="highlighter-rouge">string</code> chamada <code class="highlighter-rouge">nome</code> reprensentando o nome do candidato, e um <code class="highlighter-rouge">int</code> chamado <code class="highlighter-rouge">votos</code> representando o número de votos que o candidato tem. Em seguida, o arquivo define um vetor de <code class="highlighter-rouge">candidatos</code> global, onde cada elemento do vetor é um <code class="highlighter-rouge">candidato</code>.</p>

<p>Agora, vamos dar uma olhada na função <code class="highlighter-rouge">main</code>. Tente encontrar as linhas de código onde o programa define uma variável global chamada <code class="highlighter-rouge">numero_candidatos</code> representando o número de <code class="highlighter-rouge">candidatos</code> na eleição, copiar os argumentos de linha de comando para o vetor candidatos, e pede ao usuário para digitar o número de eleitores. Em seguida, o programa permite que cada eleitor digite o seu voto (consegue ver como?), chamando a função v<code class="highlighter-rouge">voto</code> para cada candidato que for votado. Por fim, a função <code class="highlighter-rouge">main</code> chama a função <code class="highlighter-rouge">imprimir_vencedor</code> para imprimir o vencedor (ou vencedores) da eleição.</p>

<p>Entretanto, se você ler o arquivo mais a fundo, você perceberá que as funções <code class="highlighter-rouge">voto</code> e <code class="highlighter-rouge">imprimir_vencedor</code> estão vazias. É sua tarefa implementá-las!</p>



<h2 id="specification">Especificação</h2>

<p>Complete a implementação do programa <code class="highlighter-rouge">pluralidade.c</code> de forma que o programa simule uma eleição em formato pluralidade.</p>

<ul>
  <li data-marker="*">Complete a função <code class="highlighter-rouge">voto</code>
    <ul>
      <li data-marker="*">a função <code class="highlighter-rouge">voto</code> recebe um único argumento, uma <code class="highlighter-rouge">string</code> chamada <code class="highlighter-rouge">nome</code>, que representa o nome do candidato para o qual o voto foi dado.</li>
      <li data-marker="*">Se <code class="highlighter-rouge">nome</code> for igual ao nome de um dos candidatos na eleição, atualize o número de votos daquele candidato para registrar o novo voto. A função <code class="highlighter-rouge">voto</code> neste caso deve retornar <code class="highlighter-rouge">true</code> (verdadeiro) para indicar que o voto foi executado com sucesso.</li>
      <li data-marker="*">Se <code class="highlighter-rouge">nome</code> não for igual ao nome de nenhum dos candidatos da eleição, nenhum dos números de votos dos candidatos deve ser alterado, e a função <code class="highlighter-rouge">voto</code> deve retornar <code class="highlighter-rouge">false</code> (falso) para indicar que o voto é inválido.</li>
      <li data-marker="*">Você pode considerar que não haverá dois candidados com o mesmo nome.</li>


    
    </ul>
  </li>
  <li data-marker="*">Complete a função <code class="highlighter-rouge">imprimir_vencedor</code>
    <ul>
      <li data-marker="*">A função deve imprimir o nome do candidato que recebeu mais votos na eleição, e em seguida imprimir uma nova linha.</li>
      <li data-marker="*">É possível que a eleição termine em um empate caso mais de um candidato tenha o número máximo de votos. Nesse caso, você deve imprimir os nomes de todos os candidatos vencedores, cada um em uma linha diferente.</li>
    </ul>
  </li>
</ul>

<p>Você não deve modificar mais nada no arquivo <code class="highlighter-rouge">pluralidade.c</code>, a não ser as implementações das funções <code class="highlighter-rouge">voto</code> e <code class="highlighter-rouge">imprimir_vencedor</code> (e a inclusão de arquivos-cabeçalho adicionais, caso você queira).</p>



<h2 id="usage">Uso correto</h2>

<p>Seu programa deve se comportar como nos exemplos abaixo.</p>

<div class="highlighter-rouge"><div class="highlight"><pre class="highlight"><code>$ ./pluralidade Ana Bruno
Número de eleitores: 3
Voto: Ana
Voto: Bruno
Voto: Ana
Ana
</code></pre></div></div>

<div class="highlighter-rouge"><div class="highlight"><pre class="highlight"><code>$ ./pluralidade Ana Bruno
Números de eleitores: 3
Voto: Ana
Voto: Carlos
Voto inválido.
Voto: Ana
Ana
</code></pre></div></div>

<div class="highlighter-rouge"><div class="highlight"><pre class="highlight"><code>$ ./pluralidade Ana Bruno Carlos
Número de eleitores: 5
Voto: Ana
Voto: Carlos
Voto: Bruno
Voto: Bruno
Voto: Ana
Ana
Bruno
</code></pre></div></div>

<h2 id="walkthrough">Passo a Passo</h2>

<div class="border embed-responsive embed-responsive-16by9" data-video="">
    <iframe allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" class="embed-responsive-item" src="https://www.youtube.com/embed/ftOapzDjEb8?modestbranding=1&amp;rel=0&amp;showinfo=0"></iframe>
</div>

<h2 id="testing">Como Testar Seu Código</h2>

<p>Teste seu código para garantir que ele possa...</p>

<ul>
  <li data-marker="*">Executar uma eleição com qualquer quantidade de candidatos (até o máximo (<code class="highlighter-rouge">MAX</code>) de <code class="highlighter-rouge">9</code>)</li>
  <li data-marker="*">Registrar um voto através do nome do candidato</li>
  <li data-marker="*">Lidar com votos inválidos para candidatos que não estão concorrendo</li>
  <li data-marker="*">Imprimir o nome do vencedor da eleição caso haja apenas um</li>
  <li data-marker="*">Imprimir os nomes dos vencedores da eleição caso haja múltiplos vencedores</li>
</ul>

<p>Execute a linha abaixo para avaliar a correção do seu código usando a ferramenta <code class="highlighter-rouge">check50</code>. Não se esqueça de compilar e testar o código você também!</p>

<div class="highlighter-rouge"><div class="highlight"><pre class="highlight"><code>check50 cs50xemportugues/problemas/2021/pluralidade
</code></pre></div></div>

<p>Execute a linha abaixo para avaliar o estilo do seu código usando a ferramenta <code class="highlighter-rouge">style50</code>.</p>

<div class="highlighter-rouge"><div class="highlight"><pre class="highlight"><code>style50 pluralidade.c
</code></pre></div></div>

<h2>Como Adaptar Seu Código Antes de Enviar</h2>

<p>TODO</p>

<h2 id="how-to-submit">Como Enviar</h2>

<p>Execute a linha abaixo, e em seguida informe sua conta GitHub e sua senha quando o terminal pedir. Por medidas de segurança, você verá asteriscos (<code class="highlighter-rouge">*</code>) ao invés dos caracteres reais na sua senha.</p>

<div class="highlighter-rouge"><div class="highlight"><pre class="highlight"><code>submit50 cs50/problems/2021/x/plurality
</code></pre></div></div>   	
               

{% endblock %}