{% extends 'layout.html' %}

{% block conteudo %}

<h1 id="recover">Recuperar</h1>

<p>Implemente um programa que recupera imagens, em formato JPEG, a partir de um arquivo forense, como exemplificado abaixo.</p>

<div class="highlighter-rouge"><div class="highlight"><pre class="highlight"><code>$ ./recuperar cartao.raw
</code></pre></div></div>

<h2 id="background">Entendendo o problema</h2>

<p>Antes de publicar este problema, nós passamos os últimos dias tirando fotos das pessoas que nós conhecemos, que foram salvas em uma câmera digital, em formato JPEG, no cartão de memória. Infelizmente, nós deletamos todas as imagens! Felizmente, no mundo da computação, "deletado" não significa necessariamente "deletado", mas sim "esquecido". Ainda que a câmera insista que o cartão de memória esteja vazio, nós temos certeza que isso não é verdade. E portanto, nós desejamos (e esperamos) que você escreva um programa que recupere as fotos para nós!</p>

<p>Ainda que imagens em formato JPEG sejam mais complicadas do que imagens em formato BMP, imagens em formato JPEG possuem "assinaturas", sequências de bytes que as diferenciam de outros formatos de arquivo. Para sermos mais específicos, os primeiros três bytes de uma imagem JPEG são</p>

<div class="highlighter-rouge"><div class="highlight"><pre class="highlight"><code>0xff 0xd8 0xff
</code></pre></div></div>

<p>do primeiro ao terceiro byte, da esquerda para a direita. O quarto byte, por outro lado, é <code class="highlighter-rouge">0xe0</code>, <code class="highlighter-rouge">0xe1</code>, <code class="highlighter-rouge">0xe2</code>, <code class="highlighter-rouge">0xe3</code>, <code class="highlighter-rouge">0xe4</code>, <code class="highlighter-rouge">0xe5</code>, <code class="highlighter-rouge">0xe6</code>, <code class="highlighter-rouge">0xe7</code>, <code class="highlighter-rouge">0xe8</code>, <code class="highlighter-rouge">0xe9</code>, <code class="highlighter-rouge">0xea</code>, <code class="highlighter-rouge">0xeb</code>, <code class="highlighter-rouge">0xec</code>, <code class="highlighter-rouge">0xed</code>, <code class="highlighter-rouge">0xee</code>, ou <code class="highlighter-rouge">0xef</code>. Em outras palavras, os primeiros quatro bits do quarto byte são  <code class="highlighter-rouge">1110</code>.</p>

<p>Se você encontrar esta sequência de quatro bytes em um dispositivo usado para armazenar imagens (um cartão de memória, por exemplo), é provável que eles indiquem o início de uma imagem em formato JPEG. Na realidade, pode ser que você encontre essa sequência de bytes em algum dispositivo de armazenamento por acaso, portanto, recuperação de dados não é uma ciência exata.</p>

<p>Felizmente, câmeras digitais tendem a armazenar fotos em cartões de memória de forma contínua, onde cada foto é armazenada imediatamente após a última foto tirada. Consequentemente, o início de uma imagem JPEG normalmente indica o fim de outra imagem. Entretanto, câmeras digitais normalmente inicializam cartões de memória usando um sistema de armazenamento do tipo FAT, onde cada "bloco de armazenamento" é igual a 512 bytes (B). Isso significa que essas câmeras só escrevem nesses cartões em unidades de 512 B. Uma foto cujo tamanho é igual a 1 MB (ou seja, 1 048 576 B) ocupa 1048576 ÷ 512 = 2048 "blocos" em um cartão de memória. Entretanto, uma foto cujo tamanho é 1 byte a menos (1 048 575 B) ocupa a mesma quantidade de "blocos"! O espaço desperdiçado na memória é chamado de slack space, que podemos traduzir como "espaço vazio". Investigadores forênse costumam analizar o slack space para encontrar resquícios de dados suspeitos.</p>

<p>O que todos esses detalhes significam é que você, o investigador, pode escrever um programa que percorre uma cópia de um cartão de memória, procurando por assinaturas de formato JPEG. Cada vez que você encontrar uma assinatura, você pode abrir um novo arquivo em modo de escrita e preencher esse arquivo recentemente criado com os bytes do cartão de memória, e fechando esse arquivo assim que você encontrar outra assinatura. Além disso, ao invés de ler os bytes do cartão de memória um de cada vez, você pode copiar 512 desses bytes para um buffer (espaço de armazenamento temporário) por questão de eficiência. Graças ao sistema de armazenamento FAT, você pode confiar que as assinaturas de uma imagem JPEG estarão "alinhadas ao bloco". Isso quer dizer que você só precisa procurar por essas assinaturas nos primeiros quatro bytes de um bloco.</p>

<p>Obviamente, imagens em formato JPEG podem ocupar vários blocos de armazenamento contíguos, caso contrário, nenhuma imagem em formato JPEG seria maior do que 512 bytes. Mas pode ser que o último byte de uma imagem JPEG não esteja armazenado exatamente no fim do bloco. Lembre-se da possibilidade de haver slack space, que traduzimos como “espaço vazio” ou “espaço desperdiçado”. Mas não se preocupe. Por conta do fato que este cartão de memória era novo quando eu comecei a tirar fotos, é provável que ele foi "zerado" (preenchido com zeros e uns) pelo fabricante, o que significa que todos os "espaços desperdiçados" foram preenchidos com zeros. Não tem problema se esses zeros "sobrando" forem incluídos nas imagens JPEG que você recuperar. Eles certamente ainda serão visíveis.</p>

<p>De qualquer maneira, eu só tenho um cartão de memória, mas existem muitas pessoas fazendo o curso CS50! E portanto, eu criei uma “imagem forense” do cartão de memória, armazenando todo seu conteúdo, byte por byte, em um arquivo chamado <code class="highlighter-rouge">cartao.raw</code>. Para que você não perca tempo percorrendo milhões de 0s desnecessariamente, eu só copiei os primeiros megabytes do cartão de memória. Mas você verá que a cópia possui 50 imagens em formato JPEG.</p>

<h2 id="getting-started">Começando</h2>

<p>Você deve baixar o “código de distribuição” (código inicial) para seu CS50 IDE. Entre no <a href="https://cs50.io/">CS50 IDE</a> usando sua conta GitHub, e em seguida, na janela do terminal, siga as instruções abaixo.</p>

<ol>
	<li>Execute <code class="highlighter-rouge">cd</code> para garantir que você está localizado em <code class="highlighter-rouge">~/</code> (diretório inicial).</li>

	<li>Execute <code class="highlighter-rouge">mkdir problemas4</code> para criar um diretório chamado <code class="highlighter-rouge">problemas4</code> localizado no seu diretório inicial.</li>

	<li>Execute <code class="highlighter-rouge">cd problemas4</code> para entrar no diretório <code class="highlighter-rouge">problemas4</code>.</li>

	<li>Execute <code class="highlighter-rouge">wget https://cs50xemportugues.github.io/2020/problemas/4/recuperar/recuperar.zip</code> para baixar um arquivo ZIP (um arquivo compactado) com o código de distribuição deste problema.</li>

	<li>Execute <code class="highlighter-rouge">unzip recuperar.zip</code> para descompactar esse arquivo.</li>

	<li>Execute <code class="highlighter-rouge">rm recuperar.zip</code> seguido de <code class="highlighter-rouge">yes</code> ou <code class="highlighter-rouge">y</code> para deletar esse arquivo ZIP.</li>

	<li>Execute <code class="highlighter-rouge">ls</code>. Você verá um diretório chamado <code class="highlighter-rouge">recuperar</code>, que estava dentro daquele arquivo ZIP.</li>

	<li>Execute <code class="highlighter-rouge">cd recuperar</code> para entrar nesse diretório.</li>

	<li>Execute <code class="highlighter-rouge">ls</code>. Você verá os arquivos de distribuição deste problema, incluindo <code class="highlighter-rouge">cartao.raw</code> e <code class="highlighter-rouge">recuperar.c</code>.</li>
</ol>

<h2 id="specification">Especificação</h2>

<p>Implemente um programa chamado <code class="highlighter-rouge">recuperar	</code> que recupera imagens em formato JPEG a partir de uma “imagem forense”.</p>

<ul>
	<li data-marker="*">Implemente seu programa em um arquivo chamado <code class="highlighter-rouge">recuperar.c</code> localizado em um diretório chamado <code class="highlighter-rouge">recuperar</code>.</li>
	<li data-marker="*">Seu programa deve aceitar exatamente um argumento de linha de comando, que no caso será o nome de uma imagem forense, a partir da qual você recuperará as imagens em formato JPEG.</li>
	<li data-marker="*">Se seu programa não for executado exatamente com um argumento de linha de comando, ele deve alertar o usuário do uso correto, e em seguida <code class="highlighter-rouge">main</code> deve retornar <code class="highlighter-rouge">1</code>.</li>
	<li data-marker="*">Se a imagem forense (<code class="highlighter-rouge">cartao.raw</code>) não puder ser aberta em modo leitura, seu progama deve informar ao usuário, e em seguida <code class="highlighter-rouge">main</code> deve retornar <code class="highlighter-rouge">1</code>.</li>
	<li data-marker="*">Se seu programa usar a função <code class="highlighter-rouge">malloc</code>, ele não pode vazar nenhuma quantidade de memória.</li>
</ul>

<h2 id="walkthrough">Passo a Passo</h2>

<div class="border embed-responsive embed-responsive-16by9" data-video="">
    <iframe allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" class="embed-responsive-item" src="https://www.youtube.com/embed/ooL0r_8N9ms?modestbranding=1&amp;rel=0&amp;showinfo=0"></iframe>
</div>

<h2 id="usage">Uso correto</h2>

<p>Seu programa deve se comportar como os exemplos abaixo.</p>

<div class="highlighter-rouge"><div class="highlight"><pre class="highlight"><code>$ ./recuperar
Uso correto: ./recuperar imagem
</code></pre></div></div>

<div class="highlighter-rouge"><div class="highlight"><pre class="highlight"><code>$ ./recuperar cartao.raw
</code></pre></div></div>

<h2 id="hints">Dicas</h2>

<p>Lembre-se que você pode abrir o arquivo <code class="highlighter-rouge">cartao.raw</code> usando a função <code class="highlighter-rouge">fopen</code>, como mostrado abaixo, desde que <code class="highlighter-rouge">argv[1]</code> exista.</p>

<div class="language-c highlighter-rouge"><div class="highlight"><pre class="highlight"><code><span class="kt">FILE</span> <span class="o">*</span><span class="n">arquivo</span> <span class="o">=</span> <span class="n">fopen</span><span class="p">(</span><span class="n">argv</span><span class="p">[</span><span class="mi">1</span><span class="p">],</span> <span class="s">"r"</span><span class="p">);</span>
</code></pre></div></div>

<p>Quando executado, seu programa deve recuperar cada uma das imagens em formato JPEG do arquivo <code class="highlighter-rouge">cartao.raw</code>, armazenando cada imagem como sendo arquivos únicos no seu diretório atual. Seu programa deve numerar os arquivos criados nomeando cada um <code class="highlighter-rouge">###.jpg</code>, onde <code class="highlighter-rouge">###</code> é um número decimal com 3 dígitos de <code class="highlighter-rouge">000</code> adiante. (Para isso, use a função <code class="highlighter-rouge">sprintf</code>.) Você não precisa tentar recuperar os nomes originais das imagens. Para checar se as imagens em formato JPEG que seu programa criar estão corretas, simplesmente clique duas vezes para abri-las e dar uma olhada! Se cada foto parecer estar intacta, sua operação certamente foi um sucesso!</p>

<p>Entretanto, é provável que as primeiras imagens em formato JPEG que seu programa criar não estarão corretas. (Se você abri-las e não ver nada, elas certamente não estão corretas!) Execute o programa abaixo para deletar todas as imagens JPEG no seu diretório atual.</p>

<div class="highlighter-rouge"><div class="highlight"><pre class="highlight"><code>$ rm *.jpg
</code></pre></div></div>

<p>Se você não quiser que o terminal te peça para confirmar cada remoção, execute o comando abaixo.</p>

<div class="highlighter-rouge"><div class="highlight"><pre class="highlight"><code>$ rm -f *.jpg
</code></pre></div></div>

<p>Mas tome cuidado com a flag <code class="highlighter-rouge">-f</code>, por que ela “força” a remoção do arquivo sem confirmar com você.</p>

<p>Se você quiser criar um novo tipo de dado para armazenar um byte, você pode fazer isso com a linha mostrada abaixo, que define um novo tipo chamado <code class="highlighter-rouge">BYTE</code> que é um <code class="highlighter-rouge">uint8_t</code> (um tipo definido em code class="highlighter-rouge">stdint.h</code> que representa um inteiro sem sinal de 8 bits).</p>

<div class="highlighter-rouge"><div class="highlight"><pre class="highlight"><code>typedef uint8_t BYTE;
</code></pre></div></div>

<p>Lembre-se que você pode ler dados de um arquivo usando a função <code class="highlighter-rouge">fread</code>, que lerá dados de um arquivo e os armazenará em algum local de memória e retornará o número de itens lidos do arquivo com sucesso.</p>

<h2 id="testing">Como Testar Seu Código</h2>

<p>Execute a linha abaixo para avaliar a correção do seu código usando a ferramenta <code class="highlighter-rouge">check50</code>. Não se esqueça de compilar e testar o código você também!</p>

<div class="highlighter-rouge"><div class="highlight"><pre class="highlight"><code>check50 cs50xemportugues/problemas/2020/recuperar
</code></pre></div></div>

<p>Execute a linha abaixo para avaliar o estilo do seu código usando a ferramenta <code class="highlighter-rouge">style50</code>.</p>

<div class="highlighter-rouge"><div class="highlight"><pre class="highlight"><code>style50 recuperar.c
</code></pre></div></div>

<h2>Como Adaptar Seu Código</h2>

<p>TODO</p>

<h2 id="how-to-submit">Como Enviar</h2>

<p>Execute a linha abaixo, em seguida informe sua conta GitHub e sua senha quando o terminal pedir. Por medidas de segurança, você verá asteriscos (<code class="highlighter-rouge">*</code>) ao invés dos caracteres reais na sua senha.</p>

<div class="highlighter-rouge"><div class="highlight"><pre class="highlight"><code>submit50 cs50/problems/2020/x/recover
</code></pre></div></div>

{% endblock %}