{% extends 'layout.html' %}

{% block conteudo %}

<h1 id="scratch">Scratch</h1>

<p>É hora de embarcar na sua própria aventura! Seu dever é implementar um projeto da sua preferência usando Scratch! Esse projeto pode ser uma história iterativa, um jogo, uma animaçao, ou qualquer outra coisa, desde que siga os requisitos abaixo:
</p>

<ul>
    <li data-marker="*">Seu projeto precisa ter pelo menos dois atores (personagens), dentre os quais um dos atores precisa ser algo que não seja um gato.</li>
    <li data-marker="*">Seu projeto precisa ter pelo menos três scripts ("subprogramas"), não necessariamente três por personagem.</li>
    <li data-marker="*">Seu programa precisa ter pelo menos uma estrutura condicional, uma estrutura de repetição, e uma variável.</li>
    <li data-marker="*">Seu projeto precisa usar pelo menos um arquivo de áudio.</li>
    <li data-marker="*">Seu projeto deve ser mais complexo do que a maioria dos exemplos mostrados na aula (muitos dos quais, ainda que instrutivos, eram bem curtos) mas o projeto pode ser menos complexo do que <em>O Jogo Mais Difícil de Ivy</em>. Além de seguir esses requisitos, é interessante que seu projeto utilize algumas dezenas de blocos/peças.
</ul>

<p>Se você quiser testar alguns projetos Scratch de ex-alunos, aqui estão alguns:</p>

<ul>
    <li data-marker="*"><a href="https://scratch.mit.edu/projects/326129433/">Ivy’s Hardest Game</a>, from lecture</li>
    <li data-marker="*"><a href="https://scratch.mit.edu/projects/37413/">Soccer</a>, a game</li>
    <li data-marker="*"><a href="https://scratch.mit.edu/projects/26329196/">Cookie Love Story</a>, an animation</li>
    <li data-marker="*"><a href="https://scratch.mit.edu/projects/277536784/">Gingerbread tales</a>, an interactive story</li>
    <li data-marker="*"><a href="https://scratch.mit.edu/projects/75390754/">Intersection</a>, a game</li>
</ul>

<p>Você pode usar estes <a href="https://scratch.mit.edu/projects/editor/?tutorial=all">tutoriais</a> ou <a href="https://scratch.mit.edu/starter-projects">projetos iniciantes</a> para começar. E nós encorajamos você a explorar o <a href="https://scratch.mit.edu/explore/projects/all">scratch.mit.edu</a> para encontrar inspirações. Mas tente pensar em uma ideia própria, para depois começar a implementá-la. De qualquer maneira, não tente implementar seu projeto completo de uma só vez: dê um passo de cada vez. Em outras palavras, implemente o projeto de pouco a pouco: escreva um pouco de código (arraste e solte algumas peças), teste, escreva mais um pouco, teste, e assim por diante. E selecione a opção <strong>Arquivo &gt; Salvar agora</strong> a cada nova funcionalidade implementada para que você não perca nenhum progresso!</p>

<p>Se ao longo da jornada, você achar muito difícil implementar alguma funcionalidade, tente não se estressar; altere o design do projeto ou tente contornar o problema. Se você decidir implementar uma ideia que você ache divertida, é bem provável que você não achará tão difícil satisfazer os pré-requisitos acima.</p>

<p>Perfeito! Você está pronto para começar! Dê o seu melhor!</p>

<p>Quando você terminar o seu projeto, selecione <strong>Arquivo &gt; Salvar agora</strong> uma última vez. Em seguida, selecione <strong>Arquivo &gt; Baixar para o seu computador</strong> e guarde esse arquivo para que você possa nos enviá-lo.</p>

<h1 id="hello-world">Olá, Mundo</h1>

<p>Nós sabemos que é difícil encontrar colegas de turma quando se está fazendo um curso online. Mas, graças à tecnologia, todo mundo pode dizer pelo menos um "olá".</p>

<p>Se você possui um telefone (ou uma câmera digital) e gostaria de dizer "olá" para seus colegas de turma, grave um vídeo de si próprio, de 1 a 2 minutos de vídeo, dizendo "olá" e também dizendo o lugar no mundo onde você se encontra, por que você está fazendo o CS50x, e mais algo de interesse seu! Tente começar o seu vídeo dizendo "olá, mundo" e finalizá-lo com "meu nome é ..., e este é o CS50." Mas, de qualquer maneira, você é quem decide o que dizer.</p>

<p>Se você gravar esse vídeo, envie ele para o YouTube para que depois você possa nos enviar o URL do vídeo quando você enviar a solução deste problema!</p>

<h2 id="how-to-submit">Como Enviar</h2>

<h3 id="step-1-of-2">Passo 1 de 2</h3>

<p>Envie <a href="https://forms.cs50.io/bb5ace07-099c-405e-8da5-33ce6e242601">este formulário</a>.</p>

<h3 id="step-2-of-2">Passo 2 de 2</h3>

<p>Este passo exige que você tenha baixado seu projeto Scratch como sendo um arquivo cujo nome termina em <code class="highlighter-rouge">.sb3</code>. E este passo também exige que você tenha <a href="https://github.com/join">criado uma conta no GitHub</a>, como pedido no formulário acima.</p>

<ol>
    <li>Visite <a href="https://submit.cs50.io/invites/9770b67479384c4d8c37790779e466d9">este link</a>, entre na sua conta do GitHub, e clique em <strong>Authorize cs50</strong>.</li>
    <li>Marque a opção "I understand this will..." para que você nos dê permissão para ter acesso aos seus envios, e depois clique em <strong>Join course</strong> para participar do curso.</li>
    <li>Vá ao site <a href="https://submit.cs50.io/upload/cs50/problems/2020/x/scratch">https://submit.cs50.io/upload/cs50/problems/2020/x/scratch</a>.</li>
    <li>Clique na opção "Choose File" para escolher um arquivo. Em seguida, selecione seu arquivo com extensão <code class="highlighter-rouge">.sb3</code>. Por fim, clique em <strong>Submit</strong> para enviar seu projeto.</li>
</ol>

<p>É isso! Quando seu envio for confirmado, você deverá ser redirecionado para sua página de envios. Clique no link do envio e, em seguida, clique no link do <strong>check50</strong> para ver quais requisitos seu projeto cumpriu. Você pode reenviar seu projeto quantas vezes quiser!</p>

<p>Para ver seu progresso atual no curso, visite o site <a href="https://cs50.me/cs50x">cs50.me/cs50x</a>!</p>    	
               

{% endblock %}