{% extends 'layout.html' %} {% block conteudo %}

<h1 id="fiftyville">Fiftyville</h1>

<p>Write SQL queries to solve a mystery.</p>

<h2 id="a-mystery-in-fiftyville">A Mystery in Fiftyville</h2>

<p>
  The CS50 Duck has been stolen! The town of Fiftyville has called upon you to
  solve the mystery of the stolen duck. Authorities believe that the thief stole
  the duck and then, shortly afterwards, took a flight out of town with the help
  of an accomplice. Your goal is to identify:
</p>

<ul>
  <li data-marker="*">Who the thief is,</li>
  <li data-marker="*">What city the thief escaped to, and</li>
  <li data-marker="*">Who the thief’s accomplice is who helped them escape</li>
</ul>

<p>
  All you know is that the theft
  <strong>took place on July 28, 2021</strong> and that it
  <strong>took place on Humphrey Street</strong>.
</p>

<p>
  How will you go about solving this mystery? The Fiftyville authorities have
  taken some of the town’s records from around the time of the theft and
  prepared a SQLite database for you,
  <code class="language-plaintext highlighter-rouge">fiftyville.db</code>, which
  contains tables of data from around the town. You can query that table using
  SQL <code class="language-plaintext highlighter-rouge">SELECT</code> queries
  to access the data of interest to you. Using just the information in the
  database, your task is to solve the mystery.
</p>

<h2 id="getting-started">Getting Started</h2>

<p>
  Log into <a href="https://code.cs50.io/">code.cs50.io</a>, click on your
  terminal window, and execute
  <code class="language-plaintext highlighter-rouge">cd</code> by itself. You
  should find that your terminal window’s prompt resembles the below:
</p>

<div class="language-plaintext highlighter-rouge">
  <div class="highlight">
    <pre class="highlight"><code>$
</code></pre>
  </div>
</div>

<p>Next execute</p>

<div class="language-plaintext highlighter-rouge">
  <div class="highlight">
    <pre
      class="highlight"
    ><code>wget https://cdn.cs50.net/2021/fall/psets/7/fiftyville.zip
</code></pre>
  </div>
</div>

<p>
  in order to download a ZIP called
  <code class="language-plaintext highlighter-rouge">fiftyville.zip</code> into
  your codespace.
</p>

<p>Then execute</p>

<div class="language-plaintext highlighter-rouge">
  <div class="highlight">
    <pre class="highlight"><code>unzip fiftyville.zip
</code></pre>
  </div>
</div>

<p>
  to create a folder called
  <code class="language-plaintext highlighter-rouge">fiftyville</code>. You no
  longer need the ZIP file, so you can execute
</p>

<div class="language-plaintext highlighter-rouge">
  <div class="highlight">
    <pre class="highlight"><code>rm fiftyville.zip
</code></pre>
  </div>
</div>

<p>
  and respond with “y” followed by Enter at the prompt to remove the ZIP file
  you downloaded.
</p>

<p>Now type</p>

<div class="language-plaintext highlighter-rouge">
  <div class="highlight">
    <pre class="highlight"><code>cd fiftyville
</code></pre>
  </div>
</div>

<p>
  followed by Enter to move yourself into (i.e., open) that directory. Your
  prompt should now resemble the below.
</p>

<div class="language-plaintext highlighter-rouge">
  <div class="highlight">
    <pre class="highlight"><code>fiftyville/ $
</code></pre>
  </div>
</div>

<p>
  Execute <code class="language-plaintext highlighter-rouge">ls</code> by
  itself, and you should see a few files:
</p>

<div class="language-plaintext highlighter-rouge">
  <div class="highlight">
    <pre class="highlight"><code>answers.txt  fiftyville.db  log.sql
</code></pre>
  </div>
</div>

<p>
  If you run into any trouble, follow these same steps again and see if you can
  determine where you went wrong!
</p>

<h2 id="specification">Specification</h2>

<p>
  For this problem, equally as important as solving the mystery itself is the
  process that you use to solve the mystery. In
  <code class="language-plaintext highlighter-rouge">log.sql</code>, keep a log
  of all SQL queries that you run on the database. Above each query, label each
  with a comment (in SQL, comments are any lines that begin with
  <code class="language-plaintext highlighter-rouge">--</code>) describing why
  you’re running the query and/or what information you’re hoping to get out of
  that particular query. You can use comments in the log file to add additional
  notes about your thought process as you solve the mystery: ultimately, this
  file should serve as evidence of the process you used to identify the thief!
</p>

<p>
  As you write your queries, you may notice that some of them can become quite
  complex. To help keep your queries readable, see principles of good style at
  <a href="https://www.sqlstyle.guide">sqlstyle.guide</a>. The
  <a href="https://www.sqlstyle.guide/#indentation">indentation</a> section may
  be particularly helpful!
</p>

<p>
  Once you solve the mystery, complete each of the lines in
  <code class="language-plaintext highlighter-rouge">answers.txt</code> by
  filling in the name of the thief, the city that the thief escaped to, and the
  name of the thief’s accomplice who helped them escape town. (Be sure not to
  change any of the existing text in the file or to add any other lines to the
  file!)
</p>

<p>
  Ultimately, you should submit both your
  <code class="language-plaintext highlighter-rouge">log.sql</code> and
  <code class="language-plaintext highlighter-rouge">answers.txt</code> files.
</p>

<h2 id="walkthrough">Walkthrough</h2>
<div class="alert" data-alert="danger" role="alert">
  <p>
    Note: This walkthrough is about a different infamous crime in Fiftyville,
    which took place on Chamberlin Street. Authorities are certain the most
    recent theft took place on Humphrey Street. The database they’ve given you
    has been updated to include the
    <code class="language-plaintext highlighter-rouge"
      >bakery_security_logs</code
    >
    table.
  </p>
</div>
<div class="ratio ratio-16x9" data-video="">
  <iframe
    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen=""
    class="border"
    data-video=""
    src="https://www.youtube.com/embed/x7Q8tJMi7cQ?modestbranding=0&amp;rel=0&amp;showinfo=0"
  ></iframe>
</div>

<h2 id="hints">Hints</h2>

<ul>
  <li data-marker="*">
    Execute
    <code class="language-plaintext highlighter-rouge"
      >sqlite3 fiftyville.db</code
    >
    to begin running queries on the database.
    <ul>
      <li data-marker="*">
        While running
        <code class="language-plaintext highlighter-rouge">sqlite3</code>,
        executing
        <code class="language-plaintext highlighter-rouge">.tables</code> will
        list all of the tables in the database.
      </li>
      <li data-marker="*">
        While running
        <code class="language-plaintext highlighter-rouge">sqlite3</code>,
        executing
        <code class="language-plaintext highlighter-rouge"
          >.schema TABLE_NAME</code
        >, where
        <code class="language-plaintext highlighter-rouge">TABLE_NAME</code> is
        the name of a table in the database, will show you the
        <code class="language-plaintext highlighter-rouge">CREATE TABLE</code>
        command used to create the table. This can be helpful for knowing which
        columns to query!
      </li>
    </ul>
  </li>
  <li data-marker="*">
    You may find it helpful to start with the
    <code class="language-plaintext highlighter-rouge"
      >crime_scene_reports</code
    >
    table. Start by looking for a crime scene report that matches the date and
    the location of the crime.
  </li>
  <li data-marker="*">
    See
    <a href="https://www.w3schools.com/sql/sql_ref_keywords.asp"
      >this SQL keywords reference</a
    >
    for some SQL syntax that may be helpful!
  </li>
</ul>

<h2 id="testing">Testing</h2>

<p>
  Execute the below to evaluate the correctness of your code using
  <code class="language-plaintext highlighter-rouge">check50</code>.
</p>

<div class="language-plaintext highlighter-rouge">
  <div class="highlight">
    <pre class="highlight"><code>check50 cs50/problems/2023/x/fiftyville
</code></pre>
  </div>
</div>

<h2 id="how-to-submit">How to Submit</h2>

<p>In your terminal, execute the below to submit your work.</p>

<div class="language-plaintext highlighter-rouge">
  <div class="highlight">
    <pre class="highlight"><code>submit50 cs50/problems/2023/x/fiftyville
</code></pre>
  </div>
</div>

<h2 id="acknowledgements">Acknowledgements</h2>

<p>
  Inspired by another case over at
  <a href="http://mystery.knightlab.com/">SQL City</a>.
</p>

{% endblock %}
