{% extends 'layout.html' %} {% block conteudo %}
<h1 id="problem-set-1">Problem Set 1</h1>

<div class="alert" data-alert="warning" role="alert">
  <p>
    Collaboration on problem sets is not permitted except to the extent that you
    may ask classmates and others for help so long as that help does not reduce
    to another doing your work for you, per the course’s policy on
    <a href="{{url_for('cs50x.honesty')}}">academic honesty</a>.
  </p>

  <p>
    The staff conducts random audits of submissions to CS50x. Students found to
    be in violation of this policy will be removed from the course. Students who
    have already completed CS50x, if found to be in violation, will have their
    CS50 Certificate permanently revoked.
  </p>
</div>

<h2 id="what-to-do">What to Do</h2>

<div class="alert" data-alert="warning" role="alert">
  <p>
    Be sure you have completed
    <a href="{{url_for('cs50x.labs.lab1')}}">Lab 1</a> before beginning this
    problem set.
  </p>
</div>

<ol>
  <li>
    Log into <a href="https://code.cs50.io/">code.cs50.io</a> using your GitHub
    account.
  </li>
  <li>
    Run <code class="language-plaintext highlighter-rouge">update50</code> in
    your codespace’s terminal window to ensure your codespace is up-to-date and,
    when prompted, click <strong>Rebuild now</strong>
  </li>
  <li>Submit <a href="{{url_for('cs50x.psets.hello')}}">Hello</a></li>
  <li>
    Submit one of:
    <ul>
      <li data-marker="*">
        <a href="{{url_for('cs50x.psets.mario_less')}}"
          >this version of Mario</a
        >
        if feeling less comfortable
      </li>
      <li data-marker="*">
        <a href="{{url_for('cs50x.psets.mario_more')}}"
          >this version of Mario</a
        >
        if feeling more comfortable
      </li>
    </ul>
  </li>
  <li>
    Submit one of:
    <ul>
      <li data-marker="*">
        <a href="{{url_for('cs50x.psets.cash')}}">Cash</a> if feeling less
        comfortable
      </li>
      <li data-marker="*">
        <a href="{{url_for('cs50x.psets.credit')}}">Credit</a> if feeling more
        comfortable
      </li>
    </ul>
  </li>
</ol>

<p>
  If you submit both versions of Mario, we’ll record the higher of your two
  scores. If you submit both Cash and Credit, we’ll record the higher of your
  two scores.
</p>

<h2 id="when-to-do-it">When to Do It</h2>

<p>
  By
  <a
    data-local="2023-12-31T23:59:00+00:00"
    href="https://time.cs50.io/20231231T235900Z"
    >2023-12-31T23:59:00+00:00</a
  >.
</p>

<h2 id="advice">Advice</h2>

<ul>
  <li data-marker="*">
    Try out any of Ramon’s programs from class via
    <a href="{{url_for('cs50x.weeks.week1')}}">Week 1</a>’s source code.
  </li>
  <li data-marker="*">
    See CS50’s
    <a href="https://cs50.readthedocs.io/style/c/">style guide for C</a> for
    tips on how to improve your code’s style.
  </li>
  <li data-marker="*">
    If you see any errors when compiling your code with
    <code class="language-plaintext highlighter-rouge">make</code>, focus first
    on fixing the very first error you see, scrolling up as needed. If unsure
    what it means, try asking
    <code class="language-plaintext highlighter-rouge">help50</code> for help.
    For instance, if trying to compile
    <code class="language-plaintext highlighter-rouge">hello</code>, and
    <div class="language-plaintext highlighter-rouge">
      <div class="highlight">
        <pre class="highlight"><code>make hello
</code></pre>
      </div>
    </div>
    <p>is yielding errors, try running</p>
    <div class="language-plaintext highlighter-rouge">
      <div class="highlight">
        <pre class="highlight"><code>help50 make hello
</code></pre>
      </div>
    </div>
    <p>instead!</p>
  </li>
</ul>

{% endblock %}
