{% extends 'layout.html' %} {% block conteudo %}

<h1 class="no_toc" id="syllabus">
  <a data-id="" href="">Currículo do Curso</a>
</h1>

<ul class="small" id="markdown-toc">
  <!--
  <li><a href="" id="markdown-toc-instructor">Instrutor</a></li>
  <li><a href="" id="markdown-toc-preceptors">Coordenador</a></li>
-->
  <li><a href="#descricao" id="markdown-toc-description">Descrição</a></li>
  <li><a href="" id="markdown-toc-expectations">Expectativas</a></li>
  <li>
    <a href="" id="markdown-toc-learning-objectives">Objetivos</a>
    <ul>
      <li>
        <a href="" id="markdown-toc-learning-objectives"
          >Objetivos de Aprendizado</a
        >
      </li>
      <li>
        <a href="" id="markdown-toc-curricular-objectives"
          >Objetivos Curriculates</a
        >
      </li>
    </ul>
  </li>
</ul>

<!--
<h2 id="instructor"><a data-id="" href="">Instrutor</a></h2>

<p><a href="https://cs.harvard.edu/malan">David J. Malan</a>, turma de 1999<br>
<a href="mailto:malan@harvard.edu">malan@harvard.edu</a></p>

<h2 id="preceptors"><a data-id="" href="">Coordenadores</a></h2>

<p><a href="https://brianyu.me/">Brian Yu</a>, turma de 2019<br>
<a href="mailto:brian@cs.harvard.edu">brian@cs.harvard.edu</a></p>

<p><a href="http://www.douglloyd.com/">Doug Lloyd</a>, turma de 2009<br>
<a href="mailto:lloyd@cs50.harvard.edu">lloyd@cs50.harvard.edu</a></p>
-->

<h2 id="descricao"><a data-id="" href="">Descrição</a></h2>

<p>
  Introdução às faculdades intelectuais da ciência da computação e a arte da
  programação. Este curso ensina aos estudantes a como pensar algoritmicamente e
  a como resulver problemas eficientemente. Os tópicos incluem abstração,
  algoritmos, estruturas de dados, encapsulação, gerenciamento de recursos,
  segurança, e engenharia de software. O curso inclui as linguagens C, Python, e
  SQL, assim como HTML, CSS, e JavaScript. As listas de problemas são inspiradas
  pelas áreas das artes, humanas, ciências sociais, e ciẽncias naturais. O curso
  cultina em um projeto final.
</p>

<h2 id="expectations"><a data-id="" href="">Expectativas</a></h2>

<p>É esperado que você</p>

<ul class="fa-ul">
  <li data-marker="*">
    <span class="fa-li"><i class="fas fa-circle"></i></span>assista todas as
    aulas,
  </li>
  <li data-marker="*">
    <span class="fa-li"><i class="fas fa-circle"></i></span>resolva dez listas
    de problemas, e
  </li>
  <li data-marker="*">
    <span class="fa-li"><i class="fas fa-circle"></i></span>projete e implemente
    um projeto final.
  </li>
</ul>

<h2>Objetivos</h2>

<h3 id="learning-objectives">
  <a
    data-id=""
    href="https://cs50.harvard.edu/summer/2020/syllabus/#learning-objectives"
    >Objetivos de Aprendizado</a
  >
</h3>

<p>
  Através dos objetivos gerais para cada estudante neste curso, queremos que
  eles aprendam algo que nós não os ensinamos, como se manifestará no final do
  curso através dos projetos finais de vários estudantes que usarão linguagens,
  bibliotecas, ferramentas, e técnicas que não foram ensinadas para eles no
  curso.
</p>

<p>Ao longo desta jornada, os estudantes aprenderão a</p>

<ul class="fa-ul">
  <li data-marker="*">
    <span class="fa-li"><i class="fas fa-circle"></i></span>pensar mais
    metodicamente;
  </li>
  <li data-marker="*">
    <span class="fa-li"><i class="fas fa-circle"></i></span>programar
    proceduralmente;
  </li>
  <li data-marker="*">
    <span class="fa-li"><i class="fas fa-circle"></i></span>representar e
    processar informação;
  </li>
  <li data-marker="*">
    <span class="fa-li"><i class="fas fa-circle"></i></span>comunicar-se de
    forma sucinta e precisa;
  </li>
  <li data-marker="*">
    <span class="fa-li"><i class="fas fa-circle"></i></span>resolver problemas
    de forma eficiente;
  </li>
  <li data-marker="*">
    <span class="fa-li"><i class="fas fa-circle"></i></span>reconhecer padrões
    nos problemas;
  </li>
  <li data-marker="*">
    <span class="fa-li"><i class="fas fa-circle"></i></span>decompor problemas
    em partes menores e compor soluções para os mesmos;
  </li>
  <li data-marker="*">
    <span class="fa-li"><i class="fas fa-circle"></i></span>operar em diferentes
    níveis de abstração;
  </li>
  <li data-marker="*">
    <span class="fa-li"><i class="fas fa-circle"></i></span>separar design dos
    detalhes de implementação;
  </li>
  <li data-marker="*">
    <span class="fa-li"><i class="fas fa-circle"></i></span>inferir a partir de
    princípios básicos como sistemas funcionam;
  </li>
  <li data-marker="*">
    <span class="fa-li"><i class="fas fa-circle"></i></span>avaliar a precisão,
    design e estilo do código;
  </li>
  <li data-marker="*">
    <span class="fa-li"><i class="fas fa-circle"></i></span>ensinar a si mesmos
    novas linguagens;
  </li>
  <li data-marker="*">
    <span class="fa-li"><i class="fas fa-circle"></i></span>identificar ameaças
    à privacidade e segurança;
  </li>
  <li data-marker="*">
    <span class="fa-li"><i class="fas fa-circle"></i></span>ler documentações,
    tirando conclusões das especificações;
  </li>
  <li data-marker="*">
    <span class="fa-li"><i class="fas fa-circle"></i></span>testar soluções para
    um problema, encontrar falhas, e identificar situações e problemas
    específicos
  </li>
  <li data-marker="*">
    <span class="fa-li"><i class="fas fa-circle"></i></span>descrever os
    sintomas de problemas precisamente e elaborar perguntas claramente; e
  </li>
  <li data-marker="*">
    <span class="fa-li"><i class="fas fa-circle"></i></span>identificar e
    quantificar conflitos nos recursos, especialmente de tempo e espaço.
  </li>
</ul>

<p>
  No final das contas, o curso provê aos estudants uma base para continuar seus
  estudos na ciência da computação e capacita os estudantes a aplicar ciência da
  computação em problemas de outras áreas.
</p>

<h3 id="curricular-objectives">Objetivos Curriculares</h3>

<h4 class="no_toc" id="week-0--scratch">Semana 0 - Scratch</h4>

<ul>
  <li data-marker="*">Resolução de problemas</li>
  <li data-marker="*">Entrada e saída de dados</li>
  <li data-marker="*">Representação</li>
  <li data-marker="*">Unário, Binário, Decimal</li>
  <li data-marker="*">Abstração</li>
  <li data-marker="*">ASCII, Unicode</li>
  <li data-marker="*">RGB</li>
  <li data-marker="*">Algoritmos</li>
  <li data-marker="*">Tempo de execução</li>
  <li data-marker="*">Pseudocódigo</li>
  <li data-marker="*">
    Scratch
    <ul>
      <li data-marker="*">Funções, Argumentos, Valores de Retorno</li>
      <li data-marker="*">Variáveis</li>
      <li data-marker="*">Expressões Booleanas, Condições</li>
      <li data-marker="*">Repetições</li>
      <li data-marker="*">Eventos</li>
      <li data-marker="*">Threads</li>
    </ul>
  </li>
</ul>

<h4 class="no_toc" id="week-1--c">Semana 1 - Linguagem C</h4>

<ul>
  <li data-marker="*">Linux</li>
  <li data-marker="*">Interface da Linha de Comando</li>
  <li data-marker="*">
    Linguagem C
    <ul>
      <li data-marker="*">Funções, Argumentos, Valores de Retorno</li>
      <li data-marker="*">Variáveis</li>
      <li data-marker="*">Expressões Booleanas, Condições</li>
      <li data-marker="*">Repetições</li>
    </ul>
  </li>
  <li data-marker="*">Bibliotecas, Arquivos-Cabeçalho</li>
  <li data-marker="*">Editores de Texto</li>
  <li data-marker="*">Janela do Terminal</li>
  <li data-marker="*">Compilador</li>
  <li data-marker="*">Tipos de Dados</li>
  <li data-marker="*">Transbordamento de Inteiro</li>
  <li data-marker="*">Imprecisão de Ponto-Flutuante</li>
</ul>

<h4 class="no_toc" id="week-2--arrays">Semana 2 - Vetores</h4>

<ul>
  <li data-marker="*">Pré-processamento</li>
  <li data-marker="*">Processo de Compilação</li>
  <li data-marker="*">Processo Assembling</li>
  <li data-marker="*">Processo de Linkedição</li>
  <li data-marker="*">Depuração</li>
  <li data-marker="*">Vetores</li>
  <li data-marker="*">Strings</li>
  <li data-marker="*">Argumentos de Comando de Linha</li>
  <li data-marker="*">Criptografia</li>
</ul>

<h4 class="no_toc" id="week-3--algorithms">Semana 3 - Algoritmos</h4>

<ul>
  <li data-marker="*">
    Pesquisa
    <ul>
      <li data-marker="*">Pesquisa Linear</li>
      <li data-marker="*">Pesquisa Binária</li>
    </ul>
  </li>
  <li data-marker="*">
    Ordenação
    <ul>
      <li data-marker="*">Ordenação por Flutuação</li>
      <li data-marker="*">Ordenação por Seleção</li>
      <li data-marker="*">Ordenação por Inserção</li>
      <li data-marker="*">Ordenação por Mistura</li>
    </ul>
  </li>
  <li data-marker="*">
    Notação Assintótica
    <ul>
      <li data-marker="*"><em>O</em></li>
      <li data-marker="*">Ω</li>
      <li data-marker="*">Ɵ</li>
    </ul>
  </li>
  <li data-marker="*">Recursão</li>
</ul>

<h4 class="no_toc" id="week-4--memory">Semana 4 - Memória</h4>

<ul>
  <li data-marker="*">Ponteiros</li>
  <li data-marker="*">Erros de Segmentação</li>
  <li data-marker="*">Alocação de Memória Dinâmica</li>
  <li data-marker="*">Pilha</li>
  <li data-marker="*">Heap</li>
  <li data-marker="*">Transbordamento de Dados</li>
  <li data-marker="*">Estruturas de Dados</li>
  <li data-marker="*">Entrada e saída com arquivos</li>
  <li data-marker="*">Imagens</li>
</ul>

<h4 class="no_toc" id="week-5--data-structures">
  Semana 5 - Estruturas de Dados
</h4>

<ul>
  <li data-marker="*">Listas Encadeadas</li>
  <li data-marker="*">Árvores, Árvores Binárias de Busca</li>
  <li data-marker="*">Tabelas de Dispersão</li>
  <li data-marker="*">Árvores de Prefixos</li>
  <li data-marker="*">Tipos Abstratos de Dados</li>
  <li data-marker="*">Pilhas, Filas</li>
</ul>

<h4 class="no_toc" id="week-6--python">Semana 6 - Python</h4>

<ul>
  <li data-marker="*">
    Python
    <ul>
      <li data-marker="*">Funções, Argumentos, Valores de Retorno</li>
      <li data-marker="*">Variáveis</li>
      <li data-marker="*">Expressões Booleanas, Condições</li>
      <li data-marker="*">Repetições</li>
    </ul>
  </li>
  <li data-marker="*">Módulos, Pacotes</li>
</ul>

<h4 class="no_toc" id="week-7--sql">Semana 7 - SQL</h4>

<ul>
  <li data-marker="*">
    SQL
    <ul>
      <li data-marker="*">Tabelas</li>
      <li data-marker="*">Tipos de Dados</li>
      <li data-marker="*">Comandos</li>
      <li data-marker="*">Restrições</li>
      <li data-marker="*">Índices</li>
      <li data-marker="*">Palavras-Chave, Funções</li>
      <li data-marker="*">Transações</li>
    </ul>
  </li>
  <li data-marker="*">Condições de Corrida</li>
  <li data-marker="*">Ataques SQL Injection</li>
</ul>

<h4 class="no_toc" id="week-7--sql">Semana 8 - HTML, CSS, JavaScript</h4>

<ul>
  <li data-marker="*">
    Internet
    <ul>
      <li data-marker="*">Roteadores</li>
      <li data-marker="*">Decoradores</li>
    </ul>
  </li>

  <li data-marker="*">TCP/IP</li>
  <li data-marker="*">DNS</li>
  <li data-marker="*">
    HTTP
    <ul>
      <li data-marker="*">URLs</li>
      <li data-marker="*">GET</li>
      <li data-marker="*">POST</li>
    </ul>
  </li>
  <li data-marker="*">
    HTML
    <ul>
      <li data-marker="*">Tags</li>
      <li data-marker="*">Atributos</li>
    </ul>
  </li>
  <li data-marker="*">Servidores</li>
  <li data-marker="*">
    CSS
    <ul>
      <li data-marker="*">Propriedades</li>
      <li data-marker="*">Seletores</li>
      <li data-marker="*">Frameworks</li>
    </ul>
  </li>
  <li data-marker="*">
    JavaScript
    <ul>
      <li data-marker="*">Variáveis</li>
      <li data-marker="*">Condicionais</li>
      <li data-marker="*">Repetições</li>
      <li data-marker="*">Eventos</li>
    </ul>
  </li>
</ul>

<h4 class="no_toc" id="week-7--sql">Semana 9 - Flask</h4>

<ul>
  <li data-marker="*">
    Flask
    <ul>
      <li data-marker="*">Rotas</li>
      <li data-marker="*">Decoradores</li>
      <li data-marker="*">Pedidos</li>
      <li data-marker="*">Respostas</li>
      <li data-marker="*">Sessões</li>
      <li data-marker="*">Cookies</li>
    </ul>
  </li>
</ul>

<h4 class="no_toc" id="week-7--sql">Semana 10 - Emoji</h4>

<ul>
  <li data-marker="*">
    Emoji
    <ul>
      <li data-marker="*">Precisão</li>
      <li data-marker="*">
        Unicode
        <ul>
          <li data-marker="*">Emoji</li>
          <li data-marker="*">Code Points</li>
          <li data-marker="*">ZWJ</li>
        </ul>
      </li>
    </ul>
  </li>
</ul>

{% endblock %}
