{% extends 'layout.html' %} {% block conteudo %}

<h1 id="staff">Equipe</h1>

<p>
  Para contactar a equipe do curso em português, envie um email para
  <a href="mailto:cs50xemportugues@gmail.com">cs50xemportugues@gmail.com</a>
</p>

<p>
  Ramon Omero, Instrutor do curso em português
  <a href="mailto:ramonrodriguesomero@gmail.com">ramonfrombr@gmail.com</a>
</p>

<p>
  Para contactar a equipe do curso em inglês, envie um email (escrito em inglês)
  para <a href="mailto:heads@cs50.harvard.edu">heads@cs50.harvard.edu</a>!
</p>

<p>
  <a href="https://cs.harvard.edu/malan">David J. Malan</a>, Instrutor<br />
  <a href="mailto:malan@harvard.edu">malan@harvard.edu</a>
</p>

<p>
  <a href="http://douglloyd.com/">Doug Lloyd</a>, Coordenador<br />
  <a href="mailto:lloyd@cs50.harvard.edu">lloyd@cs50.harvard.edu</a>
</p>

<hr />

{% endblock %}
