{% extends 'layout.html' %}

{% block conteudo %}


<h1>Thank you</h1>

<p>Nossos agradecimentos aos ex-alunos do CS50 e amigos na indústria, incluindo:</p>

<ul>
<li data-marker="*"><a href="https://1password.com/">AgileBits</a>, através do qual a equipe do CS50 gerencia senhas</li>
<li data-marker="*"><a href="https://airtable.com/">Airtable</a>, através do qual a equipe do CS50 analiza dados</li>
<li data-marker="*"><a href="https://aws.amazon.com/">Amazon Web Services</a>, através do qual o CS50 hospeda arquivos e aplicativos web, incluindo o <a href="https://cs50.io/">CS50 IDE</a></li>
<li data-marker="*"><a href="https://asana.com/">Asana</a>, que o CS50 usa para gerenciar projetos</li>
<li data-marker="*"><a href="https://auth0.com">Auth0</a>, que o CS50 usa para autenticação</li>
<li data-marker="*"><a href="https://designmodo.com/">Designmodo</a>, cujo <a href="https://designmodo.com/startup/">Bootstrap builder</a> é usado pelo CS50 para prototipar sites</li>
<li data-marker="*"><a href="https://dropbox.com/">Dropbox</a>, através do qual a equipe do CS50 compartilha arquivos</li>
<li data-marker="*"><a href="https://facebook.com/">Facebook</a>, onde acontece o evento CS50 Puzzle Day</li>
<li data-marker="*"><a href="https://fundacionuno.org/">Fundación Uno</a>, que apoia a presença do CS50 na Nicaragua</li>
<li data-marker="*"><a href="https://frontapp.com/">Front</a>, através do qual a equipe do CS50 responde a perguntas online</li>
<li data-marker="*"><a href="https://github.com/">GitHub</a>, que o CS50 usa para armazenar e distribuir código</li>
<li data-marker="*"><a href="https://www.google.com/">Google</a>, who support <a href="https://lab.cs50.io/">CS50 Lab</a> and <a href="https://sandbox.cs50.io/">CS50 Sandbox</a></li>
<li data-marker="*"><a href="https://www.netlify.com/">Netlify</a>, que o CS50 usa para hospedar sites estáticos</li>
<li data-marker="*"><a href="https://next.tech">Next Tech</a>, que o CS50 usa para o CS50 Sandbox e o CS50 Lab</li>
<li data-marker="*"><a href="https://www.notion.so/">Notion</a>, que o CS50 usa para documentação interna</li>
<li data-marker="*"><a href="https://portworx.com/">Portworx</a>, que o CS50 IDE usa para gerenciar armazenamento</li>
<li data-marker="*"><a href="https://readme.io/">ReadMe</a>, que o CS50 usa para hospedar a documentação de seus APIs</li>
<li data-marker="*"><a href="https://sentry.io/">Sentry</a>, que o C50 usa para detectar erros</li>
<li data-marker="*"><a href="https://transitscreen.com/">TransitScreen</a>, cujo software é usado nas telas do CS50 no campus da Universidade de Harvard</li>
</ul>

{% endblock %}