{% extends 'layout.html' %}

{% block conteudo %}

<h1 class="no_toc" id="faqs"><a data-id="" href="https://cs50.harvard.edu/summer/2020/faqs/#faqs">Perguntas Frequentes</a></h1>

<p>Envie um email para <a href="mailto:cs50xemportugues@gmail.com">cs50xemportugues@gmail.com</a> com quaisquer outras perguntas!</p>

<ul class="small" id="markdown-toc">

    <li><a href="#diferenca-entre-os-termos">Qual a diferença entre os termos CS50, CS50x e CS50x em Português?</a></li>

    <li><a href="#curriculum" id="markdown-toc-curriculum">Curriculum</a>    <ul>
        <li><a href="#which-languages-will-i-learn" id="markdown-toc-which-languages-will-i-learn">Quais linguagens de programação eu vou aprender?</a></li>
        <li><a href="#why-does-cs50-use-c" id="markdown-toc-why-does-cs50-use-c">Por que o CS50 ensina a linguagem C?</a></li>
    </ul>
    </li>
    <li><a href="#prior-experience" id="markdown-toc-prior-experience">Experiência Anterior</a>    <ul>
        <li><a href="#does-cs50-have-any-prerequisites" id="markdown-toc-does-cs50-have-any-prerequisites">O CS50 possui algum pré-requisito?</a></li>
        <li><a href="#should-i-skip-cs50-if-i-already-took-ap-cs-a" id="markdown-toc-should-i-skip-cs50-if-i-already-took-ap-cs-a">Eu deveria ignorar o curso do CS50 se eu já estudei ou estudo ciências da computação ou programação?</a></li>
    </ul>
    </li>

    
    <li><a href="#whats-the-difference-between-less-comfortable-and-more-comfortable-problems-do-i-have-to-do-both" id="markdown-toc-whats-the-difference-between-less-comfortable-and-more-comfortable-problems-do-i-have-to-do-both">Qual a diferença entre os problemas "menos confortáveis" e "mais confortáveis"? Eu preciso fazer os dois?</a></li>
    <li><a href="#i-submitted-a-problem-and-did-not-reach-the-70-passing-grade--can-i-resubmit" id="markdown-toc-i-submitted-a-problem-and-did-not-reach-the-70-passing-grade--can-i-resubmit">Eu enviei a resolução de um problema e não alcancei a nota mínima de 70%! Eu posso reenviar?</a></li>
    <li><a href="#is-my-child-too-young-to-take-cs50x" id="markdown-toc-is-my-child-too-young-to-take-cs50x">Meu filho é muito novo para fazer o curso CS50?</a></li>
    <li><a href="#how-do-i-know-if-i-have-completed-all-requirements-for-a-certificate" id="markdown-toc-how-do-i-know-if-i-have-completed-all-requirements-for-a-certificate">Como posso saber se eu completei todos os requisitos para adquirir um certificado?</a></li>
    <li><a href="#how-do-i-get-my-free-cs50-certificate" id="markdown-toc-how-do-i-get-my-free-cs50-certificate">Como eu acesso o certificado gratuito do CS50?</a></li>
    <li><a href="#when-are-deadlines" id="markdown-toc-when-are-deadlines">Quais são os prazos para envio das listas de problemas e do projeto final?</a></li>
    <li><a href="#my-style-grade-is-not-what-i-expected--why-might-that-be" id="markdown-toc-my-style-grade-is-not-what-i-expected--why-might-that-be">A pontuação do estilo do meu código não é o que eu esperava. O que pode ser isto?</a></li>
</ul>

<h2 id="diferenca-entre-os-termos">Qual a diferença entre os termos CS50, CS50x e CS50x em Português?</h2>

<p>CS50 é o nome do curso ministrado presencialmente na Universidade de Harvard, nos Estados Unidos. CS50x é o nome da versão do curso online disponível gratuitamente para pessoas de todo o mundo através da plataforma educativa <a href="edx.org">edX</a>. CS50x em Português é o nome da versão do curso online e gratuito disponível em português. De qualquer maneira, os três termos se referem ao mesmo curso, essencialmente. A diferença é que o primeiro termo se refere ao curso presencial, o segundo termo se refere ao curso online, e o terceiro termo se refere à versão em português do curso online.</p>

<h2 id="curriculum"><a data-id="" href="https://cs50.harvard.edu/summer/2020/faqs/#curriculum">Currículo do Curso</a></h2>

<h3 id="which-languages-will-i-learn"><a data-id="" href="https://cs50.harvard.edu/summer/2020/faqs/#which-languages-will-i-learn">Quais linguagens de programação eu vou aprender?</a></h3>

<p>Mais do que ensinar apenas uma linguagem, o CS50 introduz os estudantes a várias linguagens de programação “imperativas”, onde cada linguagem aproveita o aprendizado adquirido na outra. Entre as linguagens aprendidas no curso, teremos Scratch, C, Python, SQL, e JavaScript. Nas semanas finais do curso, os estudantes também aprenderão um pouco de HTML e CSS (que são linguagens, mas não linguagens de programação). O objetivo, no final do curso, é que os estudantes não necessariamente sintam que eles “aprenderam a programar em X” mas sim que eles “aprenderam a programar”.</p>

<h3 id="why-does-cs50-use-c"><a data-id="" href="https://cs50.harvard.edu/summer/2020/faqs/#why-does-cs50-use-c">Por que o CS50 ensina a linguagem C?</a></h3>

<p>Veja <a href="https://www.quora.com/Why-does-CS50-at-Harvard-use-C-as-its-primary-language">esta resposta</a>!</p>

<h2 id="prior-experience"><a data-id="" href="https://cs50.harvard.edu/summer/2020/faqs/#prior-experience">Experiência Anterior</a></h2>

<h3 id="does-cs50-have-any-prerequisites"><a data-id="" href="https://cs50.harvard.edu/summer/2020/faqs/#does-cs50-have-any-prerequisites">O CS50 possui algum pré-requisito?</a></h3>

<p>Não, o CS50 não exige nenhuma experiência anterior com ciências da computação ou programação. Na verdade, 66% dos estudantes do CS50 estudaram ciências da computação antes de fazer o curso!</p>

<h3 id="should-i-skip-cs50-if-i-already-took-ap-cs-a"><a data-id="" href="https://cs50.harvard.edu/summer/2020/faqs/#should-i-skip-cs50-if-i-already-took-ap-cs-a">Eu deveria ignorar o curso do CS50x se eu já estudei ou estudo ciências da computação ou programação?</a></h3>

<p>Provavelmente não. A maioria dos estudantes que já estudaram ou estudam ciências da computação e programação fazem o CS50 por que isso tende a preencher as lacunas em seus conhecimentos e também introduz a eles a linguagem C (e muito mais!).</p>


<h2 id="whats-the-difference-between-less-comfortable-and-more-comfortable-problems-do-i-have-to-do-both">Qual a diferença entre os problemas "menos confortáveis" e "mais confortáveis"? Eu preciso fazer os dois?</h2>

<p>Em algumas das primeiras listas de problemas, você poderá escolher entre alguns problemas caso você esteja "menos confortável" ou "mais confortável" com os conceitos da aula.</p>

<p>A opção "menos confortável" é o que nós poderiamos considerar a versão "padrão" do problema, indicada para estudantes que possuem pouca ou nenhuma experiência com programação. A opção "mais confortável" é a versão "desafio" do problema, indicada para estudantes que se consideram mais confortáveis com os tópicos devido a estudo/experiência anterior à este curso. E portanto, esses problemas para os estudantes "mais confortáveis" requerem conceitos adicionais que não foram abordados no curso até então.</p>

<p>Se você sentir muita dificuldade com a versão do problema para os "mais confortáveis", você deve trocar para a versão do problema para os "menos confortáveis" (ou se você já tiver completado esse, prossiga no curso e depois você pode voltar para resolver a versão do problema mais complicada). É melhor você pular o problema do que ficar frustrado e desistir do curso completamente. Como referência, na turma de Harvard de 2019, apenas 20-30% dos alunos enviaram os problemas para os "mais confortáveis".</p>

<p>Você não ganhará pontos extras por resolver a versão mais complicada do problema. Se você enviar as duas versões, a versão com nota maior será a que consideraremos para a sua conclusão do curso.</p>

<h2 id="i-submitted-a-problem-and-did-not-reach-the-70-passing-grade--can-i-resubmit">Eu enviei a resolução de um problema e não alcancei a nota mínima de 70%! Eu posso reenviar?</h2>

<p>Sim! Você pode reenviar. Nós só contaremos o seu envio mais recente para definir seu progresso no curso.</p>


<h2 id="is-my-child-too-young-to-take-cs50x">Meu filho é muito novo para fazer o curso CS50x?</h2>

<p>O CS50x é adequado para idades a partir de 12 anos. Estudantes mais jovem também podem fazer o curso, mas precisarão de uma ajuda dos pais.</p>

<h2 id="how-do-i-know-if-i-have-completed-all-requirements-for-a-certificate">Como posso saber se eu completei todos os requisitos para adquirir um certificado?</h2>

<p>O site <a href="https://cs50.me/cs50x">cs50.me/cs50x</a> mostra as pontuações que você recebeu em cada problema resolvido. Assim que você completar todos os requisitos, você verá um alerta verde no topo da página confirmando a conclusão do curso.</p>

<h2 id="how-do-i-get-my-free-cs50-certificate">Como eu acesso o certificado gratuito do CS50?</h2>

<p>Assim que você tiver completado o curso e tiver cumprido todos os requisitos, você verá um link na sua página <a href="https://cs50.me/cs50x">cs50.me/cs50x</a> que você pode clicar para pedir seu certificado, que é bem parecido com o certificado exibido <a href="https://cs50xemportugues.github.io/2020/certificado">nesta página</a>. Este link estará disponível dentro de aproximadamente 4 (quatro) horas após a conclusão do curso. Se você tiver dificuldade em acessar o link, tente sair da sua conta do GitHub e entrar novamente, em seguida acesse novamente o link para fazer o download do seu certificado.</p>


<h2 id="when-are-deadlines">Quais são os prazos para envio das listas de problemas e do projeto final?</h2>

<p>O CS50x não possui prazos de envio individuais para as listas de problemas ou para o projeto final. Nós encorajamos você a trabalhar nas listas de problemas e enviá-las no seu próprio ritmo. Se todas as tarefas necessárias forem enviadas e receberem uma avaliação satisfatória antes do dia 31 de Dezembro de 2020, você terá completado o curso CS50x 2020.</p>

<h2 id="my-style-grade-is-not-what-i-expected--why-might-that-be">A pontuação do estilo do meu código não é o que eu esperava. O que pode ser isto?</h2>

<p>A pontuação do estilo do seu código será baseado nos resultados da ferramenta <code class="highlighter-rouge">style50</code> para cada arquivo código-fonte no seu envio. Quando você executar <code class="highlighter-rouge">submit50</code>, para enviar sua resolução do problema, tenha certeza de que sua posta inclui apenas os arquivos que são necessários para aquele problema em particular. Caso a pasta tenha arquivos extras, esses arquivos serão considerados como sendo parte da resolução do problema. Remova os arquivos extras da pasta e reenvie a resolução do problema para receber uma pontuação do estilo atualizada.</p>

{% endblock %}