{% extends 'layout.html' %}

{% block conteudo %}


<h1 id="final-project">Projeto Final</h1>

<p></p>

<p>O clímax deste curso é o seu projeto final. O projeto final é a sua oportunidade de pegar os conhecimentos adquiridos em programação e desenvolver seu próprio software. Contanto que seu projeto se inspire nas lições deste curso, a natureza do seu projeto é totalmente sua escolha. Você pode implementar seu projeto em qualquer linguagem (ou linguagens). Você também pode usar outras plataformas além do CS50 IDE. Tudo o que nós pedimos é que você crie algo do seu interesse, que resolva um problema real, que você impacte sua comunidade, ou que você mude algo no mundo. Esforce-se para criar algo cuja utilidade vá além desde curso.</p>

<h2 id="ideas">Ideias</h2>

<ul>
    <li data-marker="*">um aplicativo web usando JavaScript, Python, e SQL, baseado em parte no código fonte da especialização em desenvolvimento web</li>
    <li data-marker="*">um jogo usando Lua com LÖVE</li>
    <li data-marker="*">uma extensão Chrome usando JavaScript</li>
    <li data-marker="*">um programa de linha de comando usando a lingaugem C</li>
    <li data-marker="*">um aplicativo baseado em hardware programado para algum dispositivo</li>
    <li data-marker="*">…</li>
</ul>

<h3 id="how-to-submit">Como Enviar</h3>

<h4 id="step-1-of-2">Passo 1 de 2</h4>

<p>Crie um arquivo de texto <code class="highlighter-rouge">README.md</code> que explique seu projeto e salve ele em uma pasta chamada <code class="highlighter-rouge">project</code>, no seu diretório <code class="highlighter-rouge">~/</code>. Note que o código fonte do seu projeto não precisa ser enviado, apenas este arquivo <code class="highlighter-rouge">README.md</code></p>

<p>Execute o código abaixo dentro do seu diretório <code class="highlighter-rouge">~/project</code>, acessando sua conta GitHub informando seu nome de usuário e sua senha. Por medidas de segurança, você verá asteríscos ao invés dos caracteres reais da sua senha.</p>

<div class="highlighter-rouge"><div class="highlight"><pre class="highlight"><code>submit50 cs50/problems/2020/x/project
</code></pre></div></div>

<h4 id="step-2-of-2">Passo 1 de 2</h4>

<p>Envie um vídeo curto (que não tenha mais de 2 minutos de duração) onde você apresenta seu projeto para o mundo, com slides, capturas de telas, narração, e/ou testagem do aplicativo/software. Seu vídeo deve incluir o título do seu projeto, seu nome, sua cidade e seu país, e qualquer outro detalhe que você gostaria de comunicar para seus espectadores. Leia <a href="">este link</a> para dicas de como fazer uma captura de tela do seu computador, mas você também pode usar uma câmera de verdade, se quiser. Envie seu vídeo para o YouTube e anote o URL do vídeo. Não tem problema se você definir o vídeo como "não listado", mas não define o vídeo como "privado."</p>

<p>Quando você estiver pronto para enviar seu vídeo, responda <a href="https://forms.cs50.io/9f20d498-c446-4d76-ab3c-8737d479016a">este formulário</a>!</p>

<p>É isso! Seu projeto será avaliado em alguns minutos. Se você não ver nenhum resultado no seu boletim, tente reenviar (executando o comando <code class="highlighter-rouge">submit50</code> acima) contendo somente seu arquivo README.md desta vez. Não é necessário reenviar o formulário.</p>

<p>Este foi o CS50x!</p>


{% endblock %}