{% extends 'layout.html' %}

{% block conteudo %}


<h1 id="sections">Seções</h1>

<h2 id="norms">Normas</h2>

<p>O curso trata o Zoom como se fosse uma sala de aula. Para qualquer reunião que você participar, não se esqueça de:</p>

<ul class="fa-ul">
    <li data-marker="*"><span class="fa-li"><i class="fas fa-circle"></i></span>Participar em um espaço quieto (e não em uma cama carro, avião, ou trem), onde você pode ouvir e falar. Se você participar de um espaço mais público, tenha certeza de que você não será abordado ou atrapalhado por outras pessoas enquanto estiver participando.</li>
    <li data-marker="*"><span class="fa-li"><i class="fas fa-circle"></i></span>Participar com sua câmera ligada, na horizontal (e não na <a href="https://www.youtube.com/watch?v=f2picMQC-9E">vertical</a>), a não ser que suas circunstâncias não permitam.</li>
</ul>

<p>Caso você não possa seguir essas normas em alguma reunião, por favor assista a gravação dela. E nos perdoe caso a equpe te peça para sair da reunião para que todos os participantes estejam totalmente engajados!</p>

<h2 id="schedule"><a data-id="" href="https://cs50.harvard.edu/summer/2020/hours/#schedule">Calendário</a></h2>

<p>Todos os atendimentos aos alunos acontecem via Zoom. Um calendário dos atendimentos aos alunos está disponível abaixo. Não se esqueça de checar o horário do atendimento.</p>

{% endblock %}