{% extends 'layout.html' %} {% block conteudo %}

<a data-id="" id="seminars" style="top: 0px;"></a><h1 class="no_toc"><a data-id="" href="#seminars">Seminars</a></h1>

<p>Seminars are opportunities to explore material beyond the course’s own syllabus that might be of particular interest for the <a href="../project/">Final Project</a>.</p>

<ul class="small" id="markdown-toc">
  <li><a href="#foldabledual-screen-form-factors" id="markdown-toc-foldabledual-screen-form-factors">Foldable/Dual-Screen Form Factors</a></li>
  <li><a href="#collaboration-and-version-control-with-git" id="markdown-toc-collaboration-and-version-control-with-git">Collaboration and Version Control with Git</a></li>
  <li><a href="#developing-your-project-locally-with-vs-code" id="markdown-toc-developing-your-project-locally-with-vs-code">Developing Your Project Locally with VS Code</a>    <ul>
      <li><a href="#mac" id="markdown-toc-mac">Mac</a></li>
      <li><a href="#windows" id="markdown-toc-windows">Windows</a></li>
    </ul>
  </li>
  <li><a href="#making-small-scale-2d-games-with-löve-2d-and-lua" id="markdown-toc-making-small-scale-2d-games-with-löve-2d-and-lua">Making Small-Scale 2D Games with LÖVE 2D and Lua</a></li>
  <li><a href="#introduction-to-machine-learning" id="markdown-toc-introduction-to-machine-learning">Introduction to Machine Learning</a></li>
</ul>

<a data-id="" id="foldabledual-screen-form-factors" style="top: 0px;"></a><h2><a data-id="" href="#foldabledual-screen-form-factors">Foldable/Dual-Screen Form Factors</a></h2>

<p>Thinking about CS50 final project ideas, come learn about foldable mobile devices from the developers at Microsoft. Foldable mobile devices facilitate unique user experiences, especially around multitasking and pen input. Learn about the dual-screen Surface Duo 2 and how to build web apps that can adapt to two screens using web standard CSS and JavaScript. You can build and test fold-aware designs on the desktop, and optionally test with an Android emulator. You can even ship progressive web apps (PWAs) via Google Play, like any other Android app.</p>

<ul class="fa-ul">
  <li data-marker="*"><span class="fa-li"><i class="fas fa-square"></i></span><a href="https://cdn.cs50.net/2021/fall/seminars/foldable_dual-screen_form-factors/foldable_dual-screen_form-factors.pdf">Slides</a></li>
  <li data-marker="-"><span class="fa-li"><i class="far fa-minus-square"></i></span><span>Video
    </span><ul class="fa-ul">
      <li data-marker="*"><span class="fa-li"><i class="fas fa-square"></i></span><a href="https://video.cs50.io/Qx4oysjcyPg">CS50 Video Player</a></li>
      <li data-marker="*"><span class="fa-li"><i class="fas fa-square"></i></span><a href="https://youtu.be/Qx4oysjcyPg">YouTube</a></li>
    </ul><span>
  </span></li>
</ul>

<a data-id="" id="collaboration-and-version-control-with-git" style="top: 0px;"></a><h2><a data-id="" href="#collaboration-and-version-control-with-git">Collaboration and Version Control with Git</a></h2>

<p>Have you wondered how you might work with your final project team without all sitting at the same device and taking turns typing code? Have you ever created a <code class="language-plaintext highlighter-rouge">Backup_4.zip</code> as you worked on a problem set to ensure you have a working version to revert to if you messed things up? Ever landed on a GitHub repository and had no idea how to download the files? Join us to learn how the pros handle these situations using an incredibly powerful command-line tool called Git!</p>

<ul class="fa-ul">
  <li data-marker="*"><span class="fa-li"><i class="fas fa-square"></i></span><a href="https://docs.google.com/presentation/d/1l0CeTIbtpe3WNJZ3ee5CTB5lMkzIln4B1RyvChdH9FQ/edit?usp=sharing">Slides</a></li>
  <li data-marker="-"><span class="fa-li"><i class="far fa-minus-square"></i></span><span>Video
    </span><ul class="fa-ul">
      <li data-marker="*"><span class="fa-li"><i class="fas fa-square"></i></span><a href="https://video.cs50.io/S-gBbnBDUhA">CS50 Video Player</a></li>
      <li data-marker="*"><span class="fa-li"><i class="fas fa-square"></i></span><a href="https://youtu.be/S-gBbnBDUhA">YouTube</a></li>
    </ul><span>
  </span></li>
</ul>

<a data-id="" id="developing-your-project-locally-with-vs-code" style="top: 0px;"></a><h2><a data-id="" href="#developing-your-project-locally-with-vs-code">Developing Your Project Locally with VS Code</a></h2>

<p>Join us to learn how use VS Code locally (and offline!) on your own computer, unlocking new development possibilities! We’ll walk you through how to create your own development environment with Python, SQLite, and more, so that you can work with some of the most common technologies used in CS50 final projects.</p>

<a data-id="" id="mac" style="top: 0px;"></a><h3><a data-id="" href="#mac">Mac</a></h3>

<ul class="fa-ul">
  <li data-marker="*"><span class="fa-li"><i class="fas fa-square"></i></span><a href="https://docs.google.com/presentation/d/1Iri2bzLMn9ZjeFROcVafaI4G4Gmqv96OFa2hPfDGUD0/edit?usp=sharing">Slides</a></li>
  <li data-marker="-"><span class="fa-li"><i class="far fa-minus-square"></i></span><span>Video
    </span><ul class="fa-ul">
      <li data-marker="*"><span class="fa-li"><i class="fas fa-square"></i></span><a href="https://video.cs50.io/TZ6c7y8N64k">CS50 Video Player</a></li>
      <li data-marker="*"><span class="fa-li"><i class="fas fa-square"></i></span><a href="https://youtu.be/TZ6c7y8N64k">YouTube</a></li>
    </ul><span>
  </span></li>
</ul>

<a data-id="" id="windows" style="top: 0px;"></a><h3><a data-id="" href="#windows">Windows</a></h3>

<ul class="fa-ul">
  <li data-marker="*"><span class="fa-li"><i class="fas fa-square"></i></span><a href="https://docs.google.com/presentation/d/1I4XQ0f68zIrs-gX7CWgFk_LneLJN8-hMwmL181fW7_s/edit?usp=sharing">Slides</a></li>
  <li data-marker="-"><span class="fa-li"><i class="far fa-minus-square"></i></span><span>Video
    </span><ul class="fa-ul">
      <li data-marker="*"><span class="fa-li"><i class="fas fa-square"></i></span><a href="https://video.cs50.io/9yzQCgIdL-Y">CS50 Video Player</a></li>
      <li data-marker="*"><span class="fa-li"><i class="fas fa-square"></i></span><a href="https://youtu.be/9yzQCgIdL-Y">YouTube</a></li>
    </ul><span>
  </span></li>
</ul>

<a data-id="" id="making-small-scale-2d-games-with-löve-2d-and-lua" style="top: 0px;"></a><h2><a data-id="" href="#making-small-scale-2d-games-with-löve-2d-and-lua">Making Small-Scale 2D Games with LÖVE 2D and Lua</a></h2>

<p>Have you ever wanted to know how to create 2D games for profit or pleasure? In this one-hour session, you will learn (a) how to design a small-scope game that can be created within fourteen days, (b) how to get started using the LÖVE 2D framework to create your 2D game, and (c) how to avoid the three landmines of small-scope game design. For less comfortable and more comfortable programmers alike, this session will help you see the overarching steps to creating your 2d game.</p>

<ul class="fa-ul">
  <li data-marker="*"><span class="fa-li"><i class="fas fa-square"></i></span><a href="https://cdn.cs50.net/2021/fall/seminars/2d_games/MakingSmallScale2dGamesWithLOVE.pdf">Slides</a></li>
  <li data-marker="-"><span class="fa-li"><i class="far fa-minus-square"></i></span><span>Video
    </span><ul class="fa-ul">
      <li data-marker="*"><span class="fa-li"><i class="fas fa-square"></i></span><a href="https://video.cs50.io/iOA5YspoJDM">CS50 Video Player</a></li>
      <li data-marker="*"><span class="fa-li"><i class="fas fa-square"></i></span><a href="https://youtu.be/iOA5YspoJDM">YouTube</a></li>
    </ul><span>
  </span></li>
</ul>

<a data-id="" id="introduction-to-machine-learning" style="top: 0px;"></a><h2><a data-id="" href="#introduction-to-machine-learning">Introduction to Machine Learning</a></h2>

<p>Interested in applying machine learning in your CS50 Final Project? We are hosting a seminar to give a brief overview of machine learning, implementations of machine learning models in Python, and finding good datasets for your ML model! Look forward to seeing you in our seminar soon!</p>

<ul class="fa-ul">
  <li data-marker="*"><span class="fa-li"><i class="fas fa-square"></i></span><a href="https://docs.google.com/presentation/d/1xV_Tffw3FF0hTzn26inK6zp95i1zSm0m6E9Eq74PhP4/edit?usp=sharing">Slides</a></li>
  <li data-marker="-"><span class="fa-li"><i class="far fa-minus-square"></i></span><span>Video
    </span><ul class="fa-ul">
      <li data-marker="*"><span class="fa-li"><i class="fas fa-square"></i></span><a href="https://video.cs50.io/b_ZVSvAHLKQ">CS50 Video Player</a></li>
      <li data-marker="*"><span class="fa-li"><i class="fas fa-square"></i></span><a href="https://www.youtube.com/watch?v=b_ZVSvAHLKQ">YouTube</a></li>
    </ul><span>
  </span></li>
</ul>

{% endblock %}