{% extends 'layout.html' %} {% block conteudo %}

<h1 id="semanas">Semanas</h1>

<ol start="0">
  <li><a href="{{ url_for('cs50x.weeks.week0') }}">Scratch</a></li>
  <li><a href="{{ url_for('cs50x.weeks.week1') }}">Linguagem C</a></li>
  <li><a href="{{ url_for('cs50x.weeks.week2') }}">Vetores</a></li>
  <li><a href="{{ url_for('cs50x.weeks.week3') }}">Algoritmos</a></li>
  <li><a href="{{ url_for('cs50x.weeks.week4') }}">Memória</a></li>
  <li><a href="{{ url_for('cs50x.weeks.week5') }}">Estruturas de Dados</a></li>
  <li><a href="{{ url_for('cs50x.weeks.week6') }}">Python</a></li>
  <li><a href="{{ url_for('cs50x.weeks.week7') }}">SQL</a></li>
  <li>
    <a href="{{ url_for('cs50x.weeks.week8') }}">HTML, CSS, JavaScript</a>
  </li>
  <li><a href="{{ url_for('cs50x.weeks.week9') }}">Flask</a></li>
</ol>

{% endblock %}
