{% extends 'layout.html' %} {% block conteudo %}
<h1 id="problem-set-5">Conjunto de Problemas 5</h1>

<div class="alert" data-alert="warning" role="alert">
  <p>
    A colaboração nos conjuntos de problemas não é permitida, exceto na medida em que você
    pode pedir ajuda a colegas e outros, desde que essa ajuda não se reduza
    a outra pessoa fazer o trabalho por você, de acordo com a política do curso sobre
    <a href="{{url_for('cs50x.honesty')}}">honestidade acadêmica</a>.
  </p>

  <p>
    A equipe realiza auditorias aleatórias das entregas do CS50x. Os alunos que forem
    encontrados em violação desta política serão removidos do curso. Alunos que
    já concluíram o CS50x e forem encontrados em violação terão seu
    certificado do CS50 revogado permanentemente.
  </p>
</div>

<h2 id="what-to-do">O que fazer</h2>

<div class="alert" data-alert="warning" role="alert">
  <p>
    Certifique-se de ter concluído
    <a href="{{url_for('cs50x.labs.lab5')}}">Laboratório 5</a> antes de começar este
    conjunto de problemas.
  </p>
</div>

<ol>
  <li>
    Faça login no <a href="https://code.cs50.io">code.cs50.io</a> usando sua conta do GitHub
  </li>
  <li>
    Execute <code class="language-plaintext highlighter-rouge">update50</code> na
    janela do terminal do seu espaço de códigos para garantir que seu espaço de códigos esteja atualizado e,
    quando solicitado, clique em <strong>Rebuild now</strong>
  </li>
  <li>Envie <a href="{{url_for('cs50x.psets.speller')}}">Speller</a></li>
</ol>

<h2 id="when-to-do-it">Quando fazer</h2>

<p>
  Até
  <a
    data-local="2023-12-31T23:59:00+00:00"
    href="https://time.cs50.io/20231231T235900Z"
    >2023-12-31T23:59:00+00:00</a
  >.
</p>

<h2 id="advice">Conselho</h2>

<ul>
  <li data-marker="*">
    Experimente qualquer um dos programas de David da
    <a href="{{url_for('cs50x.weeks.week5')}}">Semana 5</a>.
  </li>
  <li data-marker="*">
    <p>
      Se você encontrar erros ao compilar seu código com
      <code class="language-plaintext highlighter-rouge">make</code>, concentre-se
      primeiro em corrigir o primeiro erro que você vê, rolando para cima, se necessário. Se
      não tiver certeza do que significa, tente perguntar
      <code class="language-plaintext highlighter-rouge">help50</code> para obter ajuda.
      Por exemplo, se estiver tentando compilar
      <code class="language-plaintext highlighter-rouge">speller</code> e
    </p>

    <div class="language-plaintext highlighter-rouge">
      <div class="highlight">
        <pre class="highlight"><code>make speller
</code></pre>
      </div>
    </div>
    <p>estiver gerando erros, tente executar</p>
    <div class="language-plaintext highlighter-rouge">
      <div class="highlight">
        <pre class="highlight"><code>help50 make speller
</code></pre>
      </div>
    </div>
    <p>em vez disso!</p>
  </li>
</ul>

{% endblock %}
'