{% extends 'layout.html' %} {% block conteudo %}
<h1 id="problem-set-1">Conjunto de Problemas 1</h1>

<div class="alert" data-alert="warning" role="alert">
  <p>
    La colaboración en los conjuntos de problemas no está permitida, excepto en la medida en que se permita pedir ayuda a los compañeros y otros, siempre y cuando esa ayuda no se reduzca a que otro haga su trabajo por usted, según la política del curso sobre honestidad académica.
  </p>

  <p>
    El personal realiza auditorías aleatorias de entregas a CS50x. Los estudiantes que se encuentren en violación de esta política serán eliminados del curso. A los estudiantes que ya hayan completado CS50x, si se encuentra que están en violación, se les revocará permanentemente su Certificado de CS50.
  </p>
</div>

<h2 id="what-to-do">Qué hacer</h2>

<div class="alert" data-alert="warning" role="alert">
  <p>
    Asegúrese de haber completado 
    <a href="{{url_for('cs50x.labs.lab1')}}">Laboratorio 1</a> antes de comenzar este conjunto de problemas.
  </p>
</div>

<ol>
  <li>
    Inicie sesión en <a href="https://code.cs50.io/">code.cs50.io</a> usando su cuenta de GitHub.
  </li>
  <li>
    Ejecute <code class="language-plaintext highlighter-rouge">update50</code> en la ventana de la terminal de su espacio de códigos para asegurarse de que su espacio de códigos esté actualizado y, cuando se lo soliciten, haga clic en <strong>Reconstruir ahora</strong>.
  </li>
  <li>Entregue <a href="{{url_for('cs50x.psets.hello')}}">Hello</a></li>
  <li>
    Presente uno de los siguientes:
    <ul>
      <li data-marker="*">
        <a href="{{url_for('cs50x.psets.mario_less')}}"
          >esta versión de Mario</a
        >
        si se siente menos cómodo
      </li>
      <li data-marker="*">
        <a href="{{url_for('cs50x.psets.mario_more')}}"
          >esta versión de Mario</a
        >
        si se siente más cómodo
      </li>
    </ul>
  </li>
  <li>
    Presente uno de los siguientes:
    <ul>
      <li data-marker="*">
        <a href="{{url_for('cs50x.psets.cash')}}">Cash</a> si se siente menos cómodo
      </li>
      <li data-marker="*">
        <a href="{{url_for('cs50x.psets.credit')}}">Crédito</a> si se siente más cómodo
      </li>
    </ul>
  </li>
</ol>

<p>
  Si entrega ambas versiones de Mario, se registrará la puntuación más alta. Si presenta tanto Cash como Credit, se registrará la puntuación más alta de las dos.
</p>

<h2 id="when-to-do-it">Cuándo hacerlo</h2>

<p>
  Antes del 
  <a
    data-local="2023-12-31T23:59:00+00:00"
    href="https://time.cs50.io/20231231T235900Z"
    >31 de diciembre del 2023 a las 23:59:00 GMT</a>.
</p>

<h2 id="advice">Consejos</h2>

<ul>
  <li data-marker="*">
    Prueba cualquiera de los programas de Ramón de la clase a través del código fuente de la <a href="{{url_for('cs50x.weeks.week1')}}">Semana 1</a>.
  </li>
  <li data-marker="*">
    Consulta la <a href="https://cs50.readthedocs.io/style/c/">guía de estilo de C</a> de CS50 para obtener consejos sobre cómo mejorar el estilo de tu código.
  </li>
  <li data-marker="*">
    Si ve algún error al compilar su código con <code class="language-plaintext highlighter-rouge">make</code>, intente arreglar primero el primer error que vea, desplácese hacia arriba según sea necesario. Si no está seguro de lo que significa, intente pedir ayuda con <code class="language-plaintext highlighter-rouge">help50</code>. Por ejemplo, si intenta compilar <code class="language-plaintext highlighter-rouge">hello</code>, y
    <div class="language-plaintext highlighter-rouge">
      <div class="highlight">
        <pre class="highlight"><code>make hello
</code></pre>
      </div>
    </div>
    <p>está generando errores, intente ejecutar</p>
    <div class="language-plaintext highlighter-rouge">
      <div class="highlight">
        <pre class="highlight"><code>help50 make hello
</code></pre>
      </div>
    </div>
    <p>¡en su lugar!</p>
  </li>
</ul>

{% endblock %}