{% extends 'layout.html' %} {% block conteudo %}
<h1 id="problem-set-1">Ensemble de problèmes 1</h1>

<div class="alert" data-alert="warning" role="alert">
  <p>
    La collaboration sur les ensembles de problèmes n'est pas autorisée, sauf dans la mesure où vous pouvez demander de l'aide à vos camarades de classe et à d'autres personnes, à condition que cette aide ne se réduise pas à une autre personne faisant votre travail pour vous, conformément à la politique du cours en matière d'intégrité académique.
    <a href="{{url_for('cs50x.honesty')}}">intégrité académique.</a>.
  </p>

  <p>
    Le personnel effectue des audits aléatoires des soumissions à CS50x. Les étudiants qui ne respectent pas cette politique seront exclus du cours. Les étudiants qui ont déjà terminé CS50x, s'ils sont pris en violation, auront leur certificat CS50 révoqué de manière permanente.
  </p>
</div>

<h2 id="what-to-do">Que faire</h2>

<div class="alert" data-alert="warning" role="alert">
  <p>
    Assurez-vous d'avoir terminé
    <a href="{{url_for('cs50x.labs.lab1')}}">Laboratoire 1. </a>avant de commencer cet ensemble de problèmes.
  </p>
</div>

<ol>
  <li>
    Connectez-vous à <a href="https://code.cs50.io/">code.cs50.io </a> en utilisant votre compte GitHub.
  </li>
  <li>
    Exécutez <code class="language-plaintext highlighter-rouge">update50</code> dans
    la fenêtre du terminal de votre espace de code pour vous assurer que votre espace de code est à jour et, lorsque vous êtes invité, cliquez sur <strong>Reconstruire maintenant</strong>.
  </li>
  <li>Envoyez <a href="{{url_for('cs50x.psets.hello')}}">Bonjour</a></li>
  <li>
    Envoyez l'un des :
    <ul>
      <li data-marker="*">
        <a href="{{url_for('cs50x.psets.mario_less')}}"
          >cette version de Mario</a
        >
        si vous vous sentez moins à l'aise
      </li>
      <li data-marker="*">
        <a href="{{url_for('cs50x.psets.mario_more')}}"
          >cette version de Mario</a
        >
        si vous vous sentez plus à l'aise
      </li>
    </ul>
  </li>
  <li>
    Envoyez l'un des:
    <ul>
      <li data-marker="*">
        <a href="{{url_for('cs50x.psets.cash')}}">Argent Comptant</a> si vous vous sentez moins
        à l'aise
      </li>
      <li data-marker="*">
        <a href="{{url_for('cs50x.psets.credit')}}">Crédit</a> si vous vous sentez plus
        à l'aise
      </li>
    </ul>
  </li>
</ol>

<p>
  Si vous soumettez les deux versions de Mario, nous enregistrerons la meilleure de vos deux notes. Si vous soumettez à la fois Cash et Credit, nous enregistrerons la meilleure de vos deux notes.
</p>

<h2 id="when-to-do-it">Quand le faire</h2>

<p>
  D'ici
  <a
    data-local="2023-12-31T23:59:00+00:00"
    href="https://time.cs50.io/20231231T235900Z"
    >31-12-2023 à 23h59 GMT.</a>.
</p>

<h2 id="advice">Conseils </h2>

<ul>
  <li data-marker="*">
    Essayez n'importe lequel des programmes de Ramon de la classe via
    <a href="{{url_for('cs50x.weeks.week1')}}">Code source de la semaine 1. </a>.
  </li>
  <li data-marker="*">
    Consultez le
    <a href="https://cs50.readthedocs.io/style/c/">guide de style pour C </a>de CS50 pour des conseils sur la façon d'améliorer le style de votre code.
  </li>
  <li data-marker="*">
    Si vous voyez des erreurs lors de la compilation de votre code avec
    <code class="language-plaintext highlighter-rouge">make</code>, concentrez-vous d'abord sur la correction de la toute première erreur que vous voyez, en faisant défiler vers le haut au besoin. Si vous n'êtes pas sûr de ce que cela signifie, essayez de demander de l'aide à
    <code class="language-plaintext highlighter-rouge">help50</code> pour vous aider.
    Par exemple, si vous essayez de compiler
    <code class="language-plaintext highlighter-rouge">bonjour</code>, et
    <div class="language-plaintext highlighter-rouge">
      <div class="highlight">
        <pre class="highlight"><code>make hello
</code></pre>
      </div>
    </div>
    <p>produit des erreurs, essayez d'exécuter </p>
    <div class="language-plaintext highlighter-rouge">
      <div class="highlight">
        <pre class="highlight"><code>help50 make hello
</code></pre>
      </div>
    </div>
    <p>à la place!</p>
  </li>
</ul>

{% endblock %}